{% extends '::normal.html.twig' %}

{% block results %}

	<div class="col-md-8 column">
		{% if results is empty %}
			<div class="alert alert-danger text-center">
				<h4>¡No hemos encontrado ninguna propiedad que se ajuste a tu búsqueda!</h4>
				<p>Intentalo de nuevo usando el buscador</p>
			</div>
		{% else %}
			{% for oneResult in results %}
				<form method="POST" action="{{ path('book') }}">
					<div class="oneResultDiv">
						{% if images[oneResult.id] is defined %}
							<span class="imageSpan">
							<img src="/images/properties/{{images[oneResult.id]}}" width="100">
							</span>
						{% endif %}
						<div class="priceDiv">
							{% if oneResult.typeRent == 'hour' %}
								<input type="hidden" name="totalPrice" value="{{ oneResult.price }}">
								{{ oneResult.price }} &euro; / {% trans %}hora{% endtrans %}
							{% else %}
								<input type="hidden" name="totalPrice" value="{{ oneResult.price * app.session.get('searchTotalDays') }}">
								{{ oneResult.price * app.session.get('searchTotalDays') }} &euro; / {{ app.session.get('searchTotalDays') }} {% if app.session.get('searchTotalDays') == 1 %}{% trans %}día{% endtrans %}{% else %}{% trans %}dias{% endtrans %}{% endif %}
							{% endif %}
						</div>
						<div class="nameDiv">
							<input type="hidden" name="propertyName" value="{{ oneResult.name }}">
							<strong><a href="view-details/{{ oneResult.id }}">{{ oneResult.name }}</a></strong>
						</div>
						<div class="bookingButton">
							<input type="hidden" name="itemID" value="{{ oneResult.id }}">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<button type="submit" class="btn btn-primary" value="Send">{% trans %}Reservar{% endtrans %}</button>
							{% else %}
								<button class="btn btn-success" value="Send">{% trans %}Iniciar sesión{% endtrans %}</button>
							{% endif %}
						</div>
						<div>
							<p>{% if (oneResult.lat != null) and (oneResult.lng != null) %}<i class="fa fa-map-marker" title="{% trans %}Dirección disponible en mapa{% endtrans %}"></i>{% else  %}<i class="fa fa-location-arrow" title="{% trans %}Dirección{% endtrans %}"></i>{% endif %}&nbsp;{{ oneResult.address }}</p>
							<p><i class="fa fa-file-text" title="{% trans %}Descripción{% endtrans %}"></i>&nbsp;{{ oneResult.description }}</p>
						</div>
					</div>
				</form>
				<div class="clear"></div>
				<hr class="style-six">
			{% endfor %}
		{% endif %}

	</div>

{% endblock %}