{% extends '::base.html.twig' %}

{% block results %}

		{% if results is empty %}

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="box box-danger text-center">
                        <div class="box-heaer">
                            <h4><i class="fa fa-exclamation-triangle" style="color:red;"></i>&nbsp;&nbsp;{% trans %}¡No hemos encontrado ninguna propiedad que se ajuste a tu búsqueda!{% endtrans %}</h4>
                        </div>
                        <div class="box-body">
                            <p>Intentalo de nuevo usando el buscador</p>
                        </div>
                    </div>
                </div>
            </div>

		{% else %}

			{% for oneResult in results %}
				<form method="POST" action="{{ path('book') }}">
                    <div class="box ownerEmail {{ oneProperty.ownerID }}">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ oneResult.name }}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if images[oneResult.id] is defined %}
                                        <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
                                            <ol class="carousel-indicators">
                                                {% for oneImage in images[oneResult.id] %}
                                                    <li class="{% if loop.index0 == 0 %}active{% endif %}" data-slide-to="{{ loop.index0 == 0 }}" data-target="#carousel-example-generic"></li>
                                                {% endfor %}
                                            </ol>
                                            <div class="carousel-inner">
                                                {% for oneImage in images[oneResult.id] %}
                                                    <div class="item picSize {% if loop.index0 == 0 %}active{% endif %}">
                                                        <img alt="First slide" src="/images/properties/{{ oneImage }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                                                <span class="fa fa-angle-left"></span>
                                            </a>
                                            <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                                                <span class="fa fa-angle-right"></span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div><!-- /.col -->
                                <div class="col-md-6">
                                    <span class="contentSpan">
                                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                                            <p><i class="fa fa-user" title="{% trans %}Propietario{% endtrans %}"></i>&nbsp;{{ allOwners[oneProperty.ownerID].email }}</p>
                                        {% endif %}
                                        <p><i class="fa fa-file-text" title="{% trans %}Descripción{% endtrans %}"></i>&nbsp;{{ oneResult.description }}</p>
                                    </span>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                        <div class="box-footer" style="display: block;">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">{% trans %}Precio{% endtrans %}</h5>
                                        {%  set price = oneResult.price %}
                                        {% if oneResult.typeRent == 'hour' %}
                                            {% set modality = 'hora' %}
                                        {% else %}
                                            {% set modality = 'día' %}
                                        {% endif %}
                                        <span class="description-text">&nbsp;{{ arrayPrices[oneResult.id].priceByDay }} &euro; / {{ modality }}</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">Comentarios</h5>
                                        <span class="description-text">{{ arrayComments[oneResult.id] }}</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">Valoración</h5>
                                        <span class="description-text">{{ arrayRatings[oneResult.id] }}</span>
                                    </div><!-- /.description-block -->
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <h5 class="description-header">Total
                                            <input type="hidden" name="totalPrice" value="{{ arrayPrices[oneResult.id].totalPrice }}">
                                            {{ arrayPrices[oneResult.id].totalPrice }} &euro;
                                        </h5>
                                        <span class="description-text">
                                            <input type="hidden" name="itemID" value="{{ oneResult.id }}">
                                            <input type="hidden" name="propertyName" value="{{ oneResult.name }}">
                                            <button type="submit" class="btn btn-primary" name="_sendSelected" value="Send">{% trans %}Reservar{% endtrans %}</button>
                                        </span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                    </div>
				</form>

			{% endfor %}

		{% endif %}

{% endblock %}