{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column"></div>

            <div class="col-md-6 column text-center borderBox">
                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans %}Perfil{% endtrans %}</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 column text-center pictureDiv">
                                <a id="modal-uploadPicture" href="#modal-container-uploadPicture" role="button" class="btn" data-toggle="modal">
                                    <i class="fa fa-user borderBox uploadPicture"></i>
                                </a>
                            </div>

                            <div class="modal fade" id="modal-container-uploadPicture" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                {% trans %}Actualizar foto de perfil{% endtrans %}
                                            </h4>
                                        </div>
                                        <form action="#">
                                            <div class="modal-body">
                                                <input type="file" name="pic">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cerrar{% endtrans %}</button>
                                                <button type="submit" class="btn btn-primary">{% trans %}Actualizar{% endtrans %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 column text-left fos_user_user_show innerBox">
                                <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
                                <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
                                <p><b>{{ 'profile.show.name'|trans }}</b>: {{ user.name }}</p>
                                <p><b>{{ 'profile.show.surname'|trans }}</b>: {{ user.surname }}</p>
                                <p><b>{% trans %}Teléfono{% endtrans %}</b>: {{ user.phoneNumber }}</p>
                                <p><b>{% trans %}Movil{% endtrans %}</b>: {{ user.mobileNumber }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-right" style="float: right;"></span><a class="uppercase" href="{{ path('fos_user_profile_edit') }}"><em class="glyphicon glyphicon-pencil"></em> {% trans %}Modificar datos{% endtrans %}</a></div>
                        <div class="text-left"></span><a class="uppercase" href="{{ path('fos_user_change_password') }}">{% trans %}Modificar contraseña{% endtrans %}</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 column"></div>
        </div>
    </div>
{% endblock fos_user_content %}