{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Estadísticas{% endtrans %}
{% endblock %}

{% block page_content %}
    <section class="content">

        <script type="text/javascript">
            {{ chart(chartTop5hourlyBooked) }}
            {{ chart(chartTop5dailyBooked) }}
            {{ chart(chartTop5hourlyRated) }}
            {{ chart(chartTop5dailyRated) }}
            {{ chart(chartTop10hourlyClients) }}
            {{ chart(chartTop10dailyClients) }}
        </script>

        <div class="row">

            <section class="col-lg-12 connectedSortable ui-sortable">
                {# Top 5 propiedades más reservadas #}
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans %}Top 10 propiedades más reservadas{% endtrans %}</h3>
                        <div class="box-tools pull-right">
                            <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                            <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chart">
                                    <div id="top5hourlyBookingsProperties" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="chart">
                                    <div id="top5dailyBookingsProperties" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>

                {# Top 5 propiedades mejor valoradas #}
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans %}Top 10 propiedades mejor valoradas{% endtrans %}</h3>
                        <div class="box-tools pull-right">
                            <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                            <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chart">
                                    <div id="top5hourlyRatedProperties" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="chart">
                                    <div id="top5dailyRatedProperties" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>

                {# Top 10 clientes más activos #}
                {% if showClients == 1 %}
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Top 10 clientes más activos{% endtrans %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="chart">
                                        <div id="top10hourlyClients" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="chart">
                                        <div id="top10dailyClients" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                {% endif %}

            </section><!-- /.Left col -->

            <section class="col-lg-6 connectedSortable ui-sortable">

            </section><!-- /.Left col -->

            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable ui-sortable">


            </section><!-- right col -->

        </div><!-- /.row (main row) -->
    </section>
{% endblock %}
