{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Gestionar zonas{% endtrans %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-success" id="hideAllCountries">{% trans %}Ocultar pueblos{% endtrans %}</button>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-success" id="showAllCountries">{% trans %}Mostrar pueblos{% endtrans %}</button>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-success" id="hideAllProvinces">{% trans %}Ocultar provincias{% endtrans %}</button>
                </div>
                <div class="col-md-3 text-center">
                    <button type="button" class="btn btn-success" id="showAllProvinces">{% trans %}Mostrar provincias{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:20px;"></div>
    <div class="row">
        <div class="col-md-12">
            {# Continentes #}
            <ul class="list-group">
            {% for continent in zonesTree %}
                <li class="list-group-item">
                    {{ continent.name }}
                    <div class="box-tools pull-right">
                        {% if continent.numProperties == 0 %}
                            <span class="label label-danger deleteContinent" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-trash"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</span>
                        {% endif %}
                        <span class="label label-success addCountry" continentID="{{ continent.id }}" typeID="2" title="{% trans %}Añadir Pais{% endtrans %}"><i class="fa fa-plus"></i>&nbsp;{% trans %}Nuevo país{% endtrans %}</span>
                        <span class="badge" title="{% trans %}Número de propiedades registradas{% endtrans %}">{{ continent.numProperties }}</span>
                    </div>
                </li>
                <ul class="list-group noMarginButton" id="continentID-{{ continent.id }}">
                    {# Paises #}
                    {% for country in continent.countries %}
                        <li class="list-group-item list-group-item-info classCountry" id="{{ country.name }}-2">
                            <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;{{ country.name }}
                            <div class="box-tools pull-right">
                                {% if country.numProperties == 0 %}
                                    <span class="label label-danger deleteCountry" nameCountry="{{ country.name }}" type="2" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-trash"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</span>
                                {% endif %}
                                <span class="label label-success addComunity" countryID="{{ country.id }}" type="3" title="{% trans %}Añadir Comunidad{% endtrans %}"><i class="fa fa-plus"></i>&nbsp;{% trans %}Nueva comunidad{% endtrans %}</span>
                                <span class="badge" title="{% trans %}Número de propiedades registradas{% endtrans %}">{{ country.numProperties }}</span>
                            </div>
                        </li>
                        <ul class="list-group noMarginButton" id="countryID-{{ country.id }}">
                            {# Comunidades #}
                            {% for comunity in country.comunities %}
                                <li class="list-group-item list-group-item-warning classComunity" id="{{ comunity.name }}-3" style="cursor:pointer;">
                                    <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;{{ comunity.name }}
                                    <div class="box-tools pull-right">
                                        {% if comunity.numProperties == 0 %}
                                            <span class="label label-danger deleteComunity" nameComunity="{{ comunity.name }}" typeDelete="3" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-trash"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</span>
                                        {% endif %}
                                        <span class="label label-success addProvince" comunityID="{{ comunity.id }}" typeID="4" title="{% trans %}Añadir provincia{% endtrans %}"><i class="fa fa-plus"></i>&nbsp;{% trans %}Nueva provincia{% endtrans %}</span>
                                        <span class="badge" title="{% trans %}Número de propiedades registradas{% endtrans %}">{{ comunity.numProperties }}</span>
                                    </div>
                                </li>
                                <ul class="list-group noMarginButton" id="comunity-{{ comunity.id }}">
                                    {# Provincias #}
                                    {% for province in comunity.provinces %}
                                        <li class="list-group-item list-group-item-danger classProvince" id="{{ province.name }}-4" nameList="{{ comunity.name }}-3-list" style="cursor:pointer;">
                                            <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;{{ province.name }}
                                            <div class="box-tools pull-right">
                                                {% if province.numProperties == 0 %}
                                                    <span class="label label-danger deleteProvince" nameProvince="{{ province.name }}" typeDelete="4" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-trash"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</span>
                                                {% endif %}
                                                <span class="label label-success addCity" provinceID="{{ province.id }}" typeID="5" title="{% trans %}Añadir ciudad/pueblo{% endtrans %}"><i class="fa fa-plus"></i>&nbsp;{% trans %}Nueva ciudad{% endtrans %}</span>
                                                <span class="badge" title="{% trans %}Número de propiedades registradas{% endtrans %}">{{ province.numProperties }}</span>
                                            </div>
                                        </li>
                                        <ul class="list-group noMarginButton countryList" id="province-{{ province.id }}" nameList="{{ province.name }}-4-list">
                                            {# Ciudades #}
                                            {% for city in province.cities %}
                                                <li class="list-group-item list-group-item-success classCity" id="{{ city.name }}-5">
                                                    <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;{{ city.name }}
                                                    <div class="box-tools pull-right">
                                                        {% if city.numProperties == 0 %}
                                                            <span class="label label-danger deleteCity" nameCity="{{ city.name }}" typeDelete="5" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-trash"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</span>
                                                        {% endif %}
                                                        <span class="badge" title="{% trans %}Número de propiedades registradas{% endtrans %}">{{ city.numProperties }}</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        </div>
    </div>

    {# MODALES #}
    <div class="modal fade" id="modalAddCity">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% trans %}Añadir ciudad{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" name="typeName" id="addCityName" style="width:100%;" placeholder="{% trans %}Nombre{% endtrans %}">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                    <button class="btn btn-success" type="button" id="addCityButton" provinceID="" typeID="" >{% trans %}Aceptar{% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalAddProvince">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% trans %}Añadir provincia{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" name="typeName" id="addProvinceName" style="width:100%;" placeholder="{% trans %}Nombre{% endtrans %}">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                    <button class="btn btn-success" type="button" id="addProvinceButton" comunityID="" typeID="">{% trans %}Aceptar{% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalAddComunity">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% trans %}Añadir comunidad{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" name="typeName" id="addComunityName" style="width:100%;" placeholder="{% trans %}Nombre{% endtrans %}">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                    <button class="btn btn-success" type="button" id="addComunityButton" countryID="" typeID="">{% trans %}Aceptar{% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalAddCountry">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% trans %}Añadir pais{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" name="typeName" id="addCountryName" style="width:100%;" placeholder="{% trans %}Nombre{% endtrans %}">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                    <button class="btn btn-success" type="button" id="addCountryButton" continentID="" typeID="">{% trans %}Aceptar{% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8" id="textModalDelete"></div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                    <button class="btn btn-success" type="button" id="deleteCityButton" nameDelete="" typeDelete="">{% trans %}Aceptar{% endtrans %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        // Añadir ciudad
        $(".addCity").live('click', function(){
            var provinceID = $(this).attr('provinceID');
            var typeID = $(this).attr('typeID');
            $("#addCityButton").attr('provinceID', provinceID);
            $("#addCityButton").attr('typeID', typeID);
            $("#modalAddCity").modal("show");
        });

        $("#addCityButton").live('click', function(){
            var cityName = $("#addCityName").val();

            if(cityName == ''){
                $("#addCityName").addClass('inputError');
            }
            else{
                $("#modalAddCity").modal("hide");
                var provinceID = $(this).attr('provinceID');
                var typeID = $(this).attr('typeID');
                $.ajax({
                    url: '{{ path('adminAddCity') }}',
                    data: { 'cityName': cityName , 'provinceID': provinceID, 'typeID': typeID},
                    type: "post",
                    success: function(response) {
                        var html = '<li class="list-group-item list-group-item-success classCity" id="' + response['cityName'] + '-' + response['type'] + '">' +
                                '<i class="fa fa-level-up fa-rotate-90"></i>&nbsp;' + response['cityName'] +
                                '<div class="box-tools pull-right">' +
                                '<span class="label label-danger deleteCity" namecity="' + response['cityName'] + '" typedelete="5" title="Eliminar">' +
                                '<i class="fa fa-trash"></i>&nbsp;Eliminar</span>' +
                                '<span class="badge" title="Número de propiedades registradas">0</span>' +
                                '</div>' +
                                '</li>';

                        $("#province-" + response['provinceID']).append(html);
                    }
                });
            }
        });

        $("#addCityName").live('click', function(){
            $(this).removeClass('inputError');
        });

        // Borrar ciudad
        $(".deleteCity").live('click', function(){
            var cityName = $(this).attr('nameCity');
            var typeDelete = $(this).attr('typeDelete');
            $("#modalDelete h4").html("Eliminar ciudad");
            $("#modalDelete #textModalDelete").html("¿Estas seguro de querer eliminar " + cityName + " ?");
            $("#deleteCityButton").attr('nameDelete', cityName);
            $("#deleteCityButton").attr('typeDelete', typeDelete);
            $("#modalDelete").modal("show");
        });

        $("#deleteCityButton").live('click', function(){
            var deleteName = $(this).attr('nameDelete');
            var typeName = $(this).attr('typeDelete');
            $.ajax({
                url: '{{ path('adminDeleleZone') }}',
                data: { 'name': deleteName , 'type': typeName},
                type: "post",
                success: function(response) {
                    $("#modalDelete").modal("hide");
                    $("#" + response['name'] + "-" + response['type']).detach();
                }
            });
        });

        // Añadir provincia
        $(".addProvince").live('click', function(){
            var comunityID = $(this).attr('comunityID');
            var typeID = $(this).attr('typeID');
            $("#addProvinceButton").attr('comunityID', comunityID);
            $("#addProvinceButton").attr('typeID', typeID);
            $("#modalAddProvince").modal("show");
        });

        $("#addProvinceButton").live('click', function(){
            var provinceName = $("#addProvinceName").val();

            if(provinceName == ''){
                $("#addProvinceName").addClass('inputError');
            }
            else{
                $("#modalAddProvince").modal("hide");
                var comunityID = $(this).attr('comunityID');
                var typeID = $(this).attr('typeID');
                $.ajax({
                    url: '{{ path('adminAddCity') }}',
                    data: { 'cityName': provinceName , 'provinceID': comunityID, 'typeID': typeID},
                    type: "post",
                    success: function(response) {
                        var html = '<li class="list-group-item list-group-item-danger classProvince" id="' + response['cityName'] + '-' + response['type'] + '">' +
                                '       <i class="fa fa-level-up fa-rotate-90"></i>&nbsp; ' + response['cityName'] +
                                        '<div class="box-tools pull-right"> ' +
                                            '<span class="label label-danger deleteProvince" nameprovince="' + response['cityName'] + '" typedelete="' + response['type'] + '" title="Eliminar"><i class="fa fa-trash"></i>&nbsp;Eliminar</span>' +
                                            '<span class="label label-success addCity" provinceid="20" typeid="' + response['type'] + '" title="Añadir ciudad/pueblo"><i class="fa fa-plus"></i>&nbsp;Nueva ciudad</span>' +
                                            '<span class="badge" title="Número de propiedades registradas">0</span>' +
                                        '</div>' +
                                    '</li>';

                        $("#comunity-" + response['provinceID']).append(html);
                    }
                });
            }
        });

        // Borrar provincia
        $(".deleteProvince").live('click', function(){
            var cityName = $(this).attr('nameProvince');
            var typeDelete = $(this).attr('typeDelete');
            $("#modalDelete h4").html("Eliminar provincia");
            $("#modalDelete #textModalDelete").html("¿Estas seguro de querer eliminar " + cityName + " ?");
            $("#deleteCityButton").attr('nameDelete', cityName);
            $("#deleteCityButton").attr('typeDelete', typeDelete);
            $("#modalDelete").modal("show");
        });

        // Añadir comunidad
        $(".addComunity").live('click', function(){
            var countryID = $(this).attr('countryID');
            var typeID = $(this).attr('type');
            $("#addComunityButton").attr('countryID', countryID);
            $("#addComunityButton").attr('typeID', typeID);
            $("#modalAddComunity").modal("show");
        });

        $("#addComunityButton").live('click', function(){
            var comunityName = $("#addComunityName").val();

            if(comunityName == ''){
                $("#addComunityName").addClass('inputError');
            }
            else{
                $("#modalAddComunity").modal("hide");
                var countryID = $(this).attr('countryID');
                var typeID = $(this).attr('typeID');
                $.ajax({
                    url: '{{ path('adminAddCity') }}',
                    data: { 'cityName': comunityName , 'provinceID': countryID, 'typeID': typeID},
                    type: "post",
                    success: function(response) {
                        var html = '<li class="list-group-item list-group-item-warning classComunity" id="' + response['cityName'] + '-' + response['type'] + '">' +
                                        '<i class="fa fa-level-up fa-rotate-90"></i>&nbsp;' + response['cityName'] +
                                        '<div class="box-tools pull-right">' +
                                            '<span class="label label-danger deleteComunity" nameComunity="' + response['cityName'] + '" typeDelete="3" title="Eliminar"><i class="fa fa-trash"></i>&nbsp;Eliminar</span>' +
                                            '<span class="label label-success addProvince" comunityid="31" typeid="4" title="Añadir provincia"><i class="fa fa-plus"></i>&nbsp;Nueva provincia</span>' +
                                            '<span class="badge" title="Número de propiedades registradas">0</span>' +
                                        '</div>' +
                                    '</li>';

                        $("#countryID-" + response['provinceID']).append(html);
                    }
                });
            }
        });

        // Borrar provincia
        $(".deleteComunity").live('click', function(){
            var cityName = $(this).attr('nameComunity');
            var typeDelete = $(this).attr('typeDelete');
            $("#modalDelete h4").html("Eliminar provincia");
            $("#modalDelete #textModalDelete").html("¿Estas seguro de querer eliminar " + cityName + " ?");
            $("#deleteCityButton").attr('nameDelete', cityName);
            $("#deleteCityButton").attr('typeDelete', typeDelete);
            $("#modalDelete").modal("show");
        });

        // Añadir pais
        $(".addCountry").live('click', function(){
            var continentID = $(this).attr('continentID');
            var typeID = $(this).attr('typeID');
            $("#addCountryButton").attr('continentID', continentID);
            $("#addCountryButton").attr('typeID', typeID);
            $("#modalAddCountry").modal("show");
        });

        $("#addCountryButton").live('click', function(){
            var countryName = $("#addCountryName").val();

            if(countryName == ''){
                $("#addCountryName").addClass('inputError');
            }
            else{
                $("#modalAddCountry").modal("hide");
                var countryID = $(this).attr('continentID');
                var typeID = $(this).attr('typeID');
                $.ajax({
                    url: '{{ path('adminAddCity') }}',
                    data: { 'cityName': countryName , 'provinceID': countryID, 'typeID': typeID},
                    type: "post",
                    success: function(response) {
                        var html = '<li class="list-group-item list-group-item-info classCountry" id="' + response['cityName'] + '-'+ response['type'] + '">' +
                                        '<i class="fa fa-level-up fa-rotate-90"></i>&nbsp;' + response['cityName'] +
                                        '<div class="box-tools pull-right">' +
                                            '<span class="label label-danger deleteCountry" nameCountry="' + response['cityName'] + '" type="2" title="Eliminar"><i class="fa fa-trash"></i>&nbsp;Eliminar</span>' +
                                            '<span class="label label-success addComunity" countryid="34" type="3" title="Añadir Comunidad"><i class="fa fa-plus"></i>&nbsp;Nueva comunidad</span>' +
                                            '<span class="badge" title="Número de propiedades registradas">0</span>' +
                                        '</div>' +
                                    '</li>';

                        $("#continentID-" + response['provinceID']).append(html);
                    }
                });
            }
        });
        // Borrar pais
        $(".deleteCountry").live('click', function(){
            var cityName = $(this).attr('nameCountry');
            var typeDelete = $(this).attr('type');
            $("#modalDelete h4").html("Eliminar pais");
            $("#modalDelete #textModalDelete").html("¿Estas seguro de querer eliminar " + cityName + " ?");
            $("#deleteCityButton").attr('nameDelete', cityName);
            $("#deleteCityButton").attr('typeDelete', typeDelete);
            $("#modalDelete").modal("show");
        });

        // Ocultar pueblos y ciudades de una provincia
        $(".classProvince").live('click', function(){
            var id = $(this).attr('id') + '-list';
            var list = $("[nameList=" + id + "]");
            if(list.is(":visible")) {
                list.hide();
            }
            else{
                list.show();
            }
        });
        // Ocultar todos los pueblos y ciudades
        $("#hideAllCountries").live('click', function(){
            $(".countryList").hide();
        });
        // Mostrar todos los pueblos y ciudades
        $("#showAllCountries").live('click', function(){
            $(".countryList").show();
        });
        // Ocultar una provincia con sus pueblos
        $(".classComunity").live('click', function(){
            var id = $(this).attr("id");
            var lists = $("[nameList=" + id + "-list]");

            lists.each(function(){
                var id2 = $(this).attr("id") + '-list';
                var list2 = $("[nameList=" + id2 + "]");

                if(list2.is(":visible")) {
                    list2.hide();
                }
                else{
                    list2.show();
                }

                if($(this).is(":visible")) {
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
            });
        });
        // Ocultar todas las provincias
        $("#hideAllProvinces").live('click', function(){
            $(".countryList").hide();
            $(".classProvince").hide();
        });
        // Mostrar todas las provincias
        $("#showAllProvinces").live('click', function(){
            $(".countryList").show();
            $(".classProvince").show();
        });

    </script>
{% endblock %}
