<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>    Almacen</title>

    <link rel="stylesheet" href="/bundles/avanzuadmintheme/static/dev/styles/admin-lte-all.css" />
    <link href="{{ asset('css/main.css') }}" filter="cssrewrite" type="text/css" rel="stylesheet">
    <link href="{{ asset('js/jquery-ui-1.11.1.custom/jquery-ui.css') }}" type="text/css" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="{{ asset('js/jquery-ui-1.11.1.custom/jquery-ui.js') }}" ></script>
    <script src="{{ asset('js/jquery-ui-1.11.1.custom/jquery.ui.datepicker-es.js') }}" ></script>

    <script type="text/javascript" src="/bundles/avanzuadmintheme/static/dev/scripts/modernizr.js"></script>
    <!--[if lt IE 9]>

    <![endif]-->


</head>
<body class="skin-blue">
<div class="wrapper">

    <header class="main-header">
        <a href="{{ path('homepage') }}" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Almacen
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% if app.user is defined %}
                        <li class="headerUserName"><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                    {% endif %}

                    {# Idioma #}
                    <li class="dropdown languageDropdown" style="height: 50px !important;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if app.request.locale == 'en' %}
                                <img src="{{ asset('images/flags/GB.png') }}" alt="English" title="English">
                            {% else %}
                                <img src="{{ asset('images/flags/ES.png') }}" alt="Español" title="Español">
                            {% endif %}
                            &nbsp;<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('homepage', {'_locale':'es'}) }}"><img src="{{ asset('images/flags/ES.png') }}" alt="Español" title="Español">&nbsp;&nbsp;Español</a></li>
                            <li><a href="{{ path('homepage', {'_locale':'en'}) }}"><img src="{{ asset('images/flags/GB.png') }}" alt="English" title="English">&nbsp;&nbsp;English</a></li>
                        </ul>
                    </li>

                    {# Perfil #}
                    <li class="dropdown menuDropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Mi cuenta{% endtrans %}&nbsp;<strong class="caret"></strong></a>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="dropdown-menu">
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                    <style>
                                        .adminLI{background-color: #E78A37;padding-bottom: 5px;padding-top:5px;}
                                        .adminLI a{color: #FFFFFF !important;}
                                        .adminLI a:hover{background-color: #E78A37 !important;}
                                    </style>

                                    {% if app.environment == "dev" %}
                                        {% set adminUrl = "/app_dev.php/" ~ app.request.locale ~ "/superUserAdmin"  %}
                                    {% else %}
                                        {% set adminUrl = "/" ~ app.request.locale ~ "/superUserAdmin"  %}
                                    {% endif %}

                                    <li class="adminLI">
                                        <a href="{{ adminUrl }}" target="_blank">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                            &nbsp;&nbsp;{% trans %}Administración{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('consultBookings') }}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{% trans %}Menu{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{% trans %}Ver perfil{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{% trans %}Modificar perfil{% endtrans %}</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" style="color:red;"></span>&nbsp;&nbsp;{% trans %}Salir{% endtrans %}</a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{% trans %}Iniciar sesión{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{% trans %}Registrar{% endtrans %}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="mainSearch main-sidebar sidebar-offcanvas">
        <section class="sidebar" style="height: auto;">
            <form action="{{ path('search') }}" method="POST" class="sidebar-form searcherForm">

                {# <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{% trans %}Nombre{% endtrans %}.">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div> #}

                <div class="input-group">
                    {#<input class="thisInput form-control" type="text" name="city" value="{{ app.session.get('searchCity') }}" placeholder="{% trans %}Lugar{% endtrans %}">#}
                    <select name="city" class="form-control" style="width:210px;">
                        <option value="0" disabled="disabled" selected>{% trans %}Elige tu ciudad{% endtrans %}</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}" {% if app.session.get('searchCity') == city.id%}selected{% endif %}>{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <br/>

                <div class="input-group">
                    <input class="thisInput form-control" type="text" name="name" value="{{ app.session.get('searchName') }}" placeholder="{% trans %}Actividad o propiedad{% endtrans %}">
                    {# <label>{% trans %}Nombre{% endtrans %}</label> #}
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>

                <br/>

                <label>{% trans %}Alquilar por{% endtrans %}</label><br/>
                {% if app.session.get('searchType') == 'day' %}
                    &nbsp;&nbsp;<input id="byHour" type="radio" name="type" value="hour">{% trans %}Hora{% endtrans %}&nbsp;&nbsp;<input id="byDay" type="radio" name="type" value="day" checked>{% trans %}Día{% endtrans %}
                    <div id="byHourDiv" style="display:none">
                        <br/>
                        <table class="dateHourTable">
                            <th><label>{% trans %}Fecha{% endtrans %}</label></th>
                            <th><label style="float: right;">{% trans %}Hora{% endtrans %}</label></th>
                            </tr>
                            <tr>
                                <td>
                                    <input class="thisInput form-control" style="width:115px;" name="date" type="text" id="dateByHour" value="{{ app.session.get('searchDate') }}">
                                </td>
                                <td>
                                    <select name="hour">
                                        <option value="09">09:00</option><option value="10">10:00</option>
                                        <option value="11">11:00</option><option value="12" selected>12:00</option>
                                        <option value="13">13:00</option><option value="14">14:00</option>
                                        <option value="15">15:00</option><option value="16">16:00</option>
                                        <option value="17">17:00</option><option value="18">18:00</option>
                                        <option value="19">19:00</option><option value="20">20:00</option>
                                        <option value="21">21:00</option><option value="22">22:00</option>
                                    </select>
                                <td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <th><label>{% trans %}Filtros{% endtrans %}</label></th>

                            </tr>
                            <tr>
                                <td>
                                    {% for filter in filters.hour %}
                                        {% set checked = '' %}
                                        {% for filterSelected in app.session.get('filterSearch') %}
                                            {% if filter.id == filterSelected %}
                                                {% set checked = 'checked' %}
                                            {% endif %}
                                        {% endfor %}

                                        &nbsp;<input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="{{ filter.id }}" {{ checked }}>{{ filter.name }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="byDayDiv">
                        <label>{% trans %}Entrada{% endtrans %}</label>
                        <input class="thisInput form-control" name="StartDate" type="text" id="dateByDaySD" value="{{ app.session.get('searchStartDate') }}">
                        <label>{% trans %}Salida{% endtrans %}</label>
                        <input class="thisInput form-control" name="EndDate" type="text" id="dateByDayED" value="{{ app.session.get('searchEndDate') }}">

                        <br/>
                        <label>{% trans %}Filtros{% endtrans %}</label>
                        <br/>
                        {% for filter in filters.day %}
                            {% set checked = '' %}
                            {% for filterSelected in app.session.get('filterSearch') %}
                                {% if filter.id == filterSelected %}
                                    {% set checked = 'checked' %}
                                {% endif %}
                            {% endfor %}

                            &nbsp;<input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="{{ filter.id }}" {{ checked }}>{{ filter.name }}<br/>
                        {% endfor %}
                    </div>
                {% else %}
                    &nbsp;&nbsp;<input id="byHour" type="radio" name="type" value="hour" checked>{% trans %}Hora{% endtrans %}&nbsp;&nbsp;<input id="byDay" type="radio" name="type" value="day">{% trans %}Día{% endtrans %}

                    <div id="byHourDiv">
                        <table class="dateHourTable">
                            <th><label>{% trans %}Fecha{% endtrans %}</label></th>
                            <th><label style="float: right;">{% trans %}Hora{% endtrans %}</label></th>
                            </tr>
                            <tr>
                                <td>
                                    <input class="thisInput form-control" style="width:115px;" name="date" type="text" id="dateByHour">
                                </td>
                                <td>
                                    <select name="hour" class="form-control">
                                        {% if app.session.get('searchHour') == 09 %}<option value="09" selected>09:00</option>{% else %}<option value="09">09:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 10 %}<option value="10" selected>10:00</option>{% else %}<option value="10">10:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 11 %}<option value="11" selected>11:00</option>{% else %}<option value="11">11:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 12 %}<option value="12" selected>12:00</option>{% else %}<option value="12">12:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 13 %}<option value="13" selected>13:00</option>{% else %}<option value="13">13:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 14 %}<option value="14" selected>14:00</option>{% else %}<option value="14">14:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 15 %}<option value="15" selected>15:00</option>{% else %}<option value="15">15:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 16 %}<option value="16" selected>16:00</option>{% else %}<option value="16">16:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 17 %}<option value="17" selected>17:00</option>{% else %}<option value="17">17:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 18 %}<option value="18" selected>18:00</option>{% else %}<option value="18">18:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 19 %}<option value="19" selected>19:00</option>{% else %}<option value="19">19:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 20 %}<option value="20" selected>20:00</option>{% else %}<option value="20">20:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 21 %}<option value="21" selected>21:00</option>{% else %}<option value="21">21:00</option>{% endif %}
                                        {% if app.session.get('searchHour') == 22 %}<option value="22" selected>22:00</option>{% else %}<option value="22">22:00</option>{% endif %}
                                    </select>
                                <td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <th><label>{% trans %}Filtros{% endtrans %}</label></th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <div class="checkbox">
                                            {% for filter in filters.hour %}

                                                {% set checked = '' %}
                                                {% for filterSelected in app.session.get('filterSearch') %}
                                                    {% if filter.id == filterSelected %}
                                                        {% set checked = 'checked' %}
                                                    {% endif %}
                                                {% endfor %}

                                                &nbsp;<input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="{{ filter.id }}" {{ checked }}>{{ filter.name }}<br/>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br/>
                    <div id="byDayDiv" style="display:none">
                        <br/>
                        <label>{% trans %}Entrada{% endtrans %}</label>
                        <input class="thisInput form-control" name="StartDate" type="text" id="dateByDaySD">
                        <br/>
                        <label>{% trans %}Salida{% endtrans %}</label>
                        <input class="thisInput form-control" name="EndDate" type="text" id="dateByDayED">
                        <br/>
                        <label>{% trans %}Filtros{% endtrans %}</label>
                        <br/>
                        {% for filter in filters.day %}
                            {% set checked = '' %}
                            {% for filterSelected in app.session.get('filterSearch') %}
                                {% if filter.id == filterSelected %}
                                    {% set checked = 'checked' %}
                                {% endif %}
                            {% endfor %}

                            &nbsp;<input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="{{ filter.id }}" {{ checked }}>{{ filter.name }}<br/>
                        {% endfor %}
                    </div>
                {% endif %}


                <br/>
                <div class="text-center">
                    <button value="Send" class="btn btn-success" type="submit" name="_bookingSearch">
                        <i class="glyphicon glyphicon-search"></i>&nbsp;{% trans %}Buscar{% endtrans %}
                    </button>
                </div>
            </form>
        </section>
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% block results %}

            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>PFC Ingeniería Informática</b> Universidad de Cádiz
        </div>
        <strong>Cristina Sánchez García</strong> &copy; 2014-2015
    </footer>

</div>
<!-- ./wrapper -->


<script src="/bundles/avanzuadmintheme/static/dev/scripts/admin-lte-all.js"></script>


<script>
    var filterByOwner = document.getElementById("filterByOwner");

    filterByOwner.onchange = function(){
        var ownerID = filterByOwner.options[filterByOwner.selectedIndex].value;

        if(ownerID == 0){
            $('.ownerEmail').show('slow');
        }
        else{
            $('.ownerEmail').hide('slow');
            $('.'+ ownerID).show('slow');
        }
    }
</script>

{# Buscador #}
<script>
    $.datepicker.setDefaults($.datepicker.regional[ "{{ app.request.locale }}" ]);

    $(function() {
        /* Fecha por hora */
        var dateDay 	= {{ app.session.get('searchdateDay')|json_encode() }};
        var dateMonth	= {{ app.session.get('searchdateMonth')|json_encode() }};
        var dateYear 	= {{ app.session.get('searchdateYear')|json_encode() }};

        if(!dateDay || !dateMonth || !dateYear){
            var today 	= new Date();
            dateYear 	= today.getFullYear();
            dateMonth 	= today.getMonth();
            dateDay 	= today.getDay() + 2;

            if(dateDay < 10)	{dateDay 	= '0' + dateDay;	}
            if(dateMonth < 10)	{dateMonth	= '0' + dateMonth;	}
        }

        $("#dateByHour").datepicker({
            dateFormat: 		"dd/mm/yy",
            defaultDate: 		+2,
            minDate: 			+2
        });
        $("#dateByHour").datepicker( "setDate", new Date(dateYear, dateMonth, dateDay));

        /* Fechas por días */
        var StartDateDay 	= {{ app.session.get('searchStartDateDay')|json_encode() }};
        var StartDateMonth	= {{ app.session.get('searchStartDateMonth')|json_encode() - 1 }};
        var StartDateYear 	= {{ app.session.get('searchStartDateYear')|json_encode() }};
        var EndDateDay 		= {{ app.session.get('searchEndDateDay')|json_encode() }};
        var EndDateMonth	= {{ app.session.get('searchEndDateMonth')|json_encode() - 1 }};
        var EndDateYear 	= {{ app.session.get('searchEndDateYear')|json_encode() }};

        if(!StartDateDay || !StartDateMonth || !StartDateYear || !EndDateDay || !EndDateMonth || !EndDateYear){
            var today 	= new Date();
            StartDateYear 	= today.getFullYear();
            StartDateMonth 	= today.getMonth();
            StartDateDay 	= today.getDay() + 2;

            if(StartDateDay < 10)	{StartDateDay 	= '0' + StartDateDay;	}
            if(StartDateMonth < 10)	{StartDateMonth	= '0' + StartDateMonth;	}

            StartDateYear 	= today.getFullYear();
            EndDateMonth 	= today.getMonth();
            EndDateDay 		= today.getDay() + 3;

            if(EndDateDay < 10)		{EndDateDay		= '0' + EndDateDay;		}
            if(EndDateMonth < 10)	{EndDateMonth 	= '0' + EndDateMonth;	}
        }

        $("#dateByDaySD").datepicker({
            dateFormat: 		"dd/mm/yy",
            defaultDate: 		+2,
            minDate: 			+2,
            onClose: function(selectedDate) {
                $("#dateByDayED").datepicker("option", "minDate", selectedDate );
            }
        });
        $("#dateByDaySD").datepicker( "setDate", new Date(StartDateYear, StartDateMonth, StartDateDay));

        $("#dateByDayED").datepicker({
            dateFormat: 		"dd/mm/yy",
            defaultDate: 		+6,
            minDate: 			+6,
            onClose: function(selectedDate) {
                $( "#dateByDaySD" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
        $("#dateByDayED").datepicker( "setDate", new Date(EndDateYear, EndDateMonth, EndDateDay));

        $("#byHour").click(function() {
            $("#byHourDiv").show("slow");
            $("#byDayDiv").hide("slow");
        });

        $("#byDay").click(function() {
            $("#byHourDiv").hide("slow");
            $("#byDayDiv").show("slow");
        });
    });
</script>
</body>
</html>
