{% extends '::base.html.twig' %}

{% block section %}

{# Buscador #}
<script>
	$.datepicker.setDefaults($.datepicker.regional[ "{{ app.request.locale }}" ]);

	$(function() {
		/* Fecha por hora */
		var dateDay 	= {{ app.session.get('searchdateDay')|json_encode() }};
		var dateMonth	= {{ app.session.get('searchdateMonth')|json_encode() }};
		var dateYear 	= {{ app.session.get('searchdateYear')|json_encode() }};

		if(!dateDay || !dateMonth || !dateYear){
			var today 	= new Date();
			dateYear 	= today.getFullYear();
			dateMonth 	= today.getMonth();
			dateDay 	= today.getDay() + 2;

			if(dateDay < 10)	{dateDay 	= '0' + dateDay;	}
			if(dateMonth < 10)	{dateMonth	= '0' + dateMonth;	}
		}

		$("#dateByHour").datepicker({
			dateFormat: 		"dd/mm/yy",
			defaultDate: 		+2,
			minDate: 			+2,
		});
		$("#dateByHour").datepicker( "setDate", new Date(dateYear, dateMonth, dateDay));

		/* Fechas por días */
		var StartDateDay 	= {{ app.session.get('searchStartDateDay')|json_encode() }};
		var StartDateMonth	= {{ app.session.get('searchStartDateMonth')|json_encode() - 1 }};
		var StartDateYear 	= {{ app.session.get('searchStartDateYear')|json_encode() }};
		var EndDateDay 		= {{ app.session.get('searchEndDateDay')|json_encode() }};
		var EndDateMonth	= {{ app.session.get('searchEndDateMonth')|json_encode() - 1 }};
		var EndDateYear 	= {{ app.session.get('searchEndDateYear')|json_encode() }};

		if(!StartDateDay || !StartDateMonth || !StartDateYear || !EndDateDay || !EndDateMonth || !EndDateYear){
			var today 	= new Date();
			StartDateYear 	= today.getFullYear();
			StartDateMonth 	= today.getMonth();
			StartDateDay 	= today.getDay() + 2;

			if(StartDateDay < 10)	{StartDateDay 	= '0' + StartDateDay;	}
			if(StartDateMonth < 10)	{StartDateMonth	= '0' + StartDateMonth;	}

			StartDateYear 	= today.getFullYear();
			EndDateMonth 	= today.getMonth();
			EndDateDay 		= today.getDay() + 3;

			if(EndDateDay < 10)		{EndDateDay		= '0' + EndDateDay;		}
			if(EndDateMonth < 10)	{EndDateMonth 	= '0' + EndDateMonth;	}
		}

		$("#dateByDaySD").datepicker({
			dateFormat: 		"dd/mm/yy",
			defaultDate: 		+2,
			minDate: 			+2,
			onClose: function(selectedDate) {
				$("#dateByDayED").datepicker("option", "minDate", selectedDate );
			}
		});
		$("#dateByDaySD").datepicker( "setDate", new Date(StartDateYear, StartDateMonth, StartDateDay));

		$("#dateByDayED").datepicker({
			dateFormat: 		"dd/mm/yy",
			defaultDate: 		+3,
			minDate: 			+3,
			onClose: function(selectedDate) {
				$( "#dateByDaySD" ).datepicker( "option", "maxDate", selectedDate );
			}
		});
		$("#dateByDayED").datepicker( "setDate", new Date(EndDateYear, EndDateMonth, EndDateDay));

		$("#byHour").click(function() {
			$("#byHourDiv").show("slow");
			$("#byDayDiv").hide("slow");
		});

		$("#byDay").click(function() {
			$("#byHourDiv").hide("slow");
			$("#byDayDiv").show("slow");
		});
	});
</script>

<div class="col-md-4 column mainContent">
	<form action="{{ path('search') }}" method="POST">
		<label>{% trans %}Nombre{% endtrans %}</label>
		<input class="thisInput" type="text" name="name" value="{{ app.session.get('searchName') }}">

		<label>{% trans %}Alquilar por{% endtrans %}</label><br/>
		{% if app.session.get('searchType') == 'day' %}
			&nbsp;&nbsp;<input id="byHour" type="radio" name="type" value="hour">{% trans %}Hora{% endtrans %}&nbsp;&nbsp;<input id="byDay" type="radio" name="type" value="day" checked>{% trans %}Día{% endtrans %}

			<div id="byHourDiv" style="display:none">
			<table class="dateHourTable">
					<th><label>{% trans %}Fecha{% endtrans %}</label></th>
					<th><label style="float: right;">{% trans %}Hora{% endtrans %}</label></th>
				</tr>
				<tr>
					<td>
						<input class="thisInput" name="date" type="text" id="dateByHour" value="{{ app.session.get('searchDate') }}">
					</td>
					<td>
						<select name="hour">
							<option value="09">09:00</option><option value="10">10:00</option>
							<option value="11">11:00</option><option value="12" selected>12:00</option>
							<option value="13">13:00</option><option value="14">14:00</option>
							<option value="15">15:00</option><option value="16">16:00</option>
							<option value="17">17:00</option><option value="18">18:00</option>
							<option value="19">19:00</option><option value="20">20:00</option>
							<option value="21">21:00</option><option value="22">22:00</option>
						</select>
					<td>
				</tr>
                <tr>
                    <th><label>{% trans %}Filtros{% endtrans %}</label></th>
                </tr>
			</table>
		</div>
		<div id="byDayDiv">
			<label>{% trans %}Entrada{% endtrans %}</label>
			<input class="thisInput" name="StartDate" type="text" id="dateByDaySD" value="{{ app.session.get('searchStartDate') }}">
			<label>{% trans %}Salida{% endtrans %}</label>
			<input class="thisInput" name="EndDate" type="text" id="dateByDayED" value="{{ app.session.get('searchEndDate') }}">

            <br/>
            <label>{% trans %}Filtros{% endtrans %}</label>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="3"> Chalet<br/>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="4"> Apartamento</br>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="5"> Estudio
		</div>
		{% else %}
			&nbsp;&nbsp;<input id="byHour" type="radio" name="type" value="hour" checked>{% trans %}Hora{% endtrans %}&nbsp;&nbsp;<input id="byDay" type="radio" name="type" value="day">{% trans %}Día{% endtrans %}

			<div id="byHourDiv">
			<table class="dateHourTable">
					<th><label>{% trans %}Fecha{% endtrans %}</label></th>
					<th><label style="float: right;">{% trans %}Hora{% endtrans %}</label></th>
				</tr>
				<tr>
					<td>
						<input class="thisInput" name="date" type="text" id="dateByHour">
					</td>
					<td>
						<select name="hour">
							{% if app.session.get('searchHour') == 09 %}<option value="09" selected>09:00</option>{% else %}<option value="09">09:00</option>{% endif %}
							{% if app.session.get('searchHour') == 10 %}<option value="10" selected>10:00</option>{% else %}<option value="10">10:00</option>{% endif %}
							{% if app.session.get('searchHour') == 11 %}<option value="11" selected>11:00</option>{% else %}<option value="11">11:00</option>{% endif %}
							{% if app.session.get('searchHour') == 12 %}<option value="12" selected>12:00</option>{% else %}<option value="12">12:00</option>{% endif %}
							{% if app.session.get('searchHour') == 13 %}<option value="13" selected>13:00</option>{% else %}<option value="13">13:00</option>{% endif %}
							{% if app.session.get('searchHour') == 14 %}<option value="14" selected>14:00</option>{% else %}<option value="14">14:00</option>{% endif %}
							{% if app.session.get('searchHour') == 15 %}<option value="15" selected>15:00</option>{% else %}<option value="15">15:00</option>{% endif %}
							{% if app.session.get('searchHour') == 16 %}<option value="16" selected>16:00</option>{% else %}<option value="16">16:00</option>{% endif %}
							{% if app.session.get('searchHour') == 17 %}<option value="17" selected>17:00</option>{% else %}<option value="17">17:00</option>{% endif %}
							{% if app.session.get('searchHour') == 18 %}<option value="18" selected>18:00</option>{% else %}<option value="18">18:00</option>{% endif %}
							{% if app.session.get('searchHour') == 19 %}<option value="19" selected>19:00</option>{% else %}<option value="19">19:00</option>{% endif %}
							{% if app.session.get('searchHour') == 20 %}<option value="20" selected>20:00</option>{% else %}<option value="20">20:00</option>{% endif %}
							{% if app.session.get('searchHour') == 21 %}<option value="21" selected>21:00</option>{% else %}<option value="21">21:00</option>{% endif %}
							{% if app.session.get('searchHour') == 22 %}<option value="22" selected>22:00</option>{% else %}<option value="22">22:00</option>{% endif %}
						</select>
					<td>
				</tr>
                <tr>
                    <th><label>{% trans %}Filtros{% endtrans %}</label></th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="1"> Padel<br/>
                        <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="2"> Tenis
                    </td>
                </tr>
			</table>
		</div>
		<div id="byDayDiv" style="display:none">
			<label>{% trans %}Entrada{% endtrans %}</label>
			<input class="thisInput" name="StartDate" type="text" id="dateByDaySD">
			<label>{% trans %}Salida{% endtrans %}</label>
			<input class="thisInput" name="EndDate" type="text" id="dateByDayED">

            <br/>
            <label>{% trans %}Filtros{% endtrans %}</label>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="3"> Chalet<br/>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="4"> Apartamento</br>
            <input type="checkbox" class="checkboxSearch" name="filterSearch[]" value="5"> Estudio
		</div>
		{% endif %}

		

		<div class="text-center">
			<button value="Send" class="btn btn-success" type="submit" name="_bookingSearch">
				<i class="glyphicon glyphicon-search"></i>&nbsp;{% trans %}Buscar{% endtrans %}
			</button>
		</div>
	</form>
</div>

{# Resultados #}

	{% block results %}{% endblock %}

{% endblock %}