{% extends '::admin.html.twig' %}

{% block workspace %}

    <script>
        $(document).ready(function()
        {
            $('#dropboxContainerTest').click(function(){
                imagePath='http://img4.wikia.nocookie.net/__cb20150313181403/clash-of-clans/es/images/thumb/4/4e/MPB-Defense.png/150px-MPB-Defense.png';

                $.ajax({
                    url: '{{ path('loadImages') }}',
                    data: {'image':imagePath, 'activityID':{{ details.id }}},
                    type: "post",
                    success: function($response) {
                        console.log($response);
                    }
                });
            });

        /***** DROPBOX *****/
            var options = {

                // Required. Called when a user selects an item in the Chooser.
                success: function (files) {
                    $.ajax({
                        url: '{{ path('loadImages') }}',
                        data: {'images':files, 'activityID':{{ details.id }}},
                        type: "post",
                        success: function($response) {
                            alert("Imagenes descargadas con exito.");
                        }
                    });
                    /*var reader = new FileReader();
                    reader.onload = function(event){
                        console.log(files);
                        var save = document.createElement('a');
                        save.href = event.target.result;
                        save.target = '_blank';
                        save.download = files[0].name || 'descarga.png';

                    };

                    console.log(files);
                    alert("Here's the file link: " + files[0].link)*/
                },

                //cancel: function () {},
                linkType: "direct", // preview or "direct"
                multiselect: true,
                extensions: ['.jpg', '.jpeg', '.JPG']
            };
            var button = Dropbox.createChooseButton(options);
            console.log(button);
            document.getElementById("dropboxContainer").appendChild(button);
        });
    </script>


    {% if app.environment == "dev" %}
        {% set baseUrl = "/app_dev.php/" ~ app.request.locale ~ "/admin/view-details/" ~ details.id  %}
    {% else %}
        {% set baseUrl = "/" ~ app.request.locale ~ "/admin/view-details/" ~ details.id  %}
    {% endif %}

    <form action="modif/save" method="post">

        {% set cont = 0 %}
        <div class="col-md-3 column modifImage">
        {% if pictures is not empty %}
                {% for onePicture in pictures %}
                    {% set cont = cont + 1 %}
                    <div class="item">
                        <img alt="" width="100" src="/images/properties/{{ onePicture }}" />
                    </div>
                {% endfor %}
        {% endif %}
        {% if cont < 10 %}
            <div class="item">
                <span id="dropboxContainer"></span>
                <input type="button" id="dropboxContainerTest" value="Test">
            </div>
        {% endif %}
        </div>

        <div class="col-md-9 column">
            <input type="hidden" name="productID" class="productID" value="{{ details.id }}">
            <h2><input type="text" name="name" style="width:100%;color: #8a6d3b;" value="{{ details.name }}"></h2>

            <div class="clear"></div>

            <div style="float:right;">
                <input type="number" name="price" value="{{ details.price }}"> {{ details.typeRent }}
            </div>

            <div class="clear"></div>

            <div class="clear"></div>

            <p class="desc-icon">
                <i class="fa fa-quote-left fa-1x pull-left fa-border"></i> {% trans %}Descripción{% endtrans %}
                <textarea style="width:100%;" name="description">
                    {{ details.description | trim }}
                </textarea>
            </p>

            <div class="clear"></div>

            <div>
                <input type="text" name="address" value="{{ details.address }}">

                mapa
            </div>

            <div>
                Tipo de establecimiento:<br/>
                {% for type in types %}
                    <input type="radio" name="type" value="{{ type.id }}" {% if type.selected == 1 %}checked{% endif %}> {{ type.name }}
                {% endfor %}
            </div>
            <div>
                {% if features is not empty %}
                    Características:<br/>
                    {% for feature in features %}
                        <input type="checkbox" name="feature[]" value="{{ feature.id }}" {% if feature.selected == 1 %}checked{% endif %}> {{ feature.name }}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="clear"></div>

            <div style="margin:auto;">
                <button name="submit" value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Guardar{% endtrans %}</button>
                <a href="{{ baseUrl }}"><button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button></a>
            </div>
        </div>
    </form>
{% endblock %}