{% extends '::admin.html.twig' %}

{% block page_title %}
    {{ details.name }}
{% endblock %}

{% block page_content %}

    <script>

        //map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Geocoding Google Maps
        function codeAddress() {
            var address = document.getElementById('address').value;

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var latlng = new google.maps.LatLng(results[0].geometry.location);

                    document.getElementById('latAddress').value = results[0].geometry.location.A;
                    document.getElementById('lngAddress').value = results[0].geometry.location.F;

                    var mapOptions = {
                        zoom: 12,
                        center: latlng
                    }
                    var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }

        $(document).ready(function()
        {
            $(".datepickerClass").datepicker({dateFormat: "dd/mm/yy"});

            $('#dropboxContainerTest').click(function(){
                imagePath='http://img4.wikia.nocookie.net/__cb20150313181403/clash-of-clans/es/images/thumb/4/4e/MPB-Defense.png/150px-MPB-Defense.png';

                $.ajax({
                    url: '{{ path('loadImages') }}',
                    data: {'image':imagePath, 'activityID':{{ details.id }}},
                    type: "post",
                    success: function($response) {
                        console.log($response);
                    }
                });
            });

            // Autocompletado de inputs dias
            $("#datepickerTo-0").change(function(){
                $("#datepickerFrom-1").val($(this).val());
            });
            $("#datepickerTo-1").change(function(){
                $("#datepickerFrom-2").val($(this).val());
            });
            $("#datepickerTo-2").change(function(){
                $("#datepickerFrom-3").val($(this).val());
            });
            $("#datepickerTo-3").change(function(){
                $("#datepickerFrom-4").val($(this).val());
            });

            // Autocompletado de inputs horas
            $("#hourpickerTo-0").change(function(){
                $("#hourpickerFrom-1").val($(this).val());
            });
            $("#hourpickerTo-1").change(function(){
                $("#hourpickerFrom-2").val($(this).val());
            });
            $("#hourpickerTo-2").change(function(){
                $("#hourpickerFrom-3").val($(this).val());
            });
            $("#hourpickerTo-3").change(function(){
                $("#hourpickerFrom-4").val($(this).val());
            });

        /***** DROPBOX *****/
            var options = {

                // Required. Called when a user selects an item in the Chooser.
                success: function (files) {
                    $.ajax({
                        url: '{{ path('loadImages') }}',
                        data: {'images':files, 'activityID':{{ details.id }}},
                        type: "post",
                        success: function($response) {
                            alert("Imagenes descargadas con exito.");
                        }
                    });
                    /*var reader = new FileReader();
                    reader.onload = function(event){
                        console.log(files);
                        var save = document.createElement('a');
                        save.href = event.target.result;
                        save.target = '_blank';
                        save.download = files[0].name || 'descarga.png';

                    };

                    console.log(files);
                    alert("Here's the file link: " + files[0].link)*/
                },

                //cancel: function () {},
                linkType: "direct", // preview or "direct"
                multiselect: true,
                extensions: ['.jpg', '.jpeg', '.JPG']
            };
            var button = Dropbox.createChooseButton(options);
            console.log(button);
            document.getElementById("dropboxContainer").appendChild(button);
        });
    </script>


    <section class="content">

        <div class="row">
            <form action="modif/save" method="post">
                <input type="hidden" name="productID" value="{{ details.id }}">
                <input type="hidden" id="latAddress" name="latAddress" value="{{ details.lat }}">
                <input type="hidden" id="lngAddress" name="lngAddress" value="{{ details.lng }}">

                <section class="col-lg-3 connectedSortable ui-sortable">
                    {# Imagenes #}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Imágenes{% endtrans %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            {% if pictures is defined %}
                                {% for onePicture in pictures %}
                                    {% set cont = cont + 1 %}
                                    <div class="item">
                                        <img alt="" width="100%" src="/images/properties/{{ onePicture }}" />
                                        <input type="checkbox" name="deletePicture[{{ onePicture }}]">{% trans %}Eliminar{% endtrans %}
                                    </div>
                                    <br/>
                                {% endfor %}
                            {% endif %}
                        </div><!-- /.col -->
                        <div class="box-footer">
                            {% if cont < 10 %}
                                <div class="item">
                                    <span id="dropboxContainer"></span>
                                    {#<input type="button" id="dropboxContainerTest" value="Test">#}
                                </div>
                            {% endif %}
                        </div>
                    </div>


                </section>
                <section class="col-lg-9 connectedSortable ui-sortable">

                    {# Descripcion #}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Descripción{% endtrans %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <textarea style="width:100%;" name="description" rows="10">{{ details.description | trim }}</textarea>
                        </div><!-- /.col -->
                    </div>

                    {# Features #}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Características{% endtrans %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div>
                                Tipo de establecimiento:<br/>
                                {% for type in types %}
                                    <input type="radio" name="type" value="{{ type.id }}" {% if type.selected == 1 %}checked{% endif %}> {{ type.name }}
                                {% endfor %}
                            </div>
                            <div>
                                {% if features is not empty %}
                                    Características:<br/>
                                    {% for feature in features %}
                                        <input type="checkbox" name="feature[]" value="{{ feature.id }}" {% if feature.selected == 1 %}checked{% endif %}> {{ feature.name }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div><!-- /.col -->
                    </div>

                    {# Precios / temporadas #}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                {% if details.typeRent == 'hour' %}
                                    {% trans %}Precios y horas{% endtrans %}
                                {% else %}
                                    {% trans %}Precios y temporadas{% endtrans %}
                                {% endif %}
                            </h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <table class="table table-bordered text-center">
                                <tr>
                                    {% if details.typeRent == 'hour' %}
                                        <th>{% trans %}De{% endtrans %}</th>
                                        <th>{% trans %}Hasta{% endtrans %}</th>
                                    {% else %}
                                        <th>{% trans %}Inicio{% endtrans %}</th>
                                        <th>{% trans %}Fin{% endtrans %}</th>
                                    {% endif %}
                                    <th>&euro;</th>
                                </tr>
                                {% for season in seasons %}
                                    {% set i = loop.index0 %}
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <input type="hidden" value="{{ details.typeRent }}" name="typeRent">
                                                {% if details.typeRent == 'hour' %}
                                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                                    <select class="form-control" id="hourpickerFrom-{{ i }}" name="Seasons[{{ i }}][From]">
                                                        <option></option>
                                                        <option {% if season.startSeason == '9:00'%}selected{% endif %}>9:00</option>
                                                        <option {% if season.startSeason == '10:00'%}selected{% endif %}>10:00</option>
                                                        <option {% if season.startSeason == '11:00'%}selected{% endif %}>11:00</option>
                                                        <option {% if season.startSeason == '12:00'%}selected{% endif %}>12:00</option>
                                                        <option {% if season.startSeason == '13:00'%}selected{% endif %}>13:00</option>
                                                        <option {% if season.startSeason == '14:00'%}selected{% endif %}>14:00</option>
                                                        <option {% if season.startSeason == '15:00'%}selected{% endif %}>15:00</option>
                                                        <option {% if season.startSeason == '16:00'%}selected{% endif %}>16:00</option>
                                                        <option {% if season.startSeason == '17:00'%}selected{% endif %}>17:00</option>
                                                        <option {% if season.startSeason == '18:00'%}selected{% endif %}>18:00</option>
                                                        <option {% if season.startSeason == '19:00'%}selected{% endif %}>19:00</option>
                                                        <option {% if season.startSeason == '20:00'%}selected{% endif %}>20:00</option>
                                                        <option {% if season.startSeason == '21:00'%}selected{% endif %}>21:00</option>
                                                        <option {% if season.startSeason == '22:00'%}selected{% endif %}>22:00</option>
                                                    </select>
                                                {% else %}
                                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    <input type="text" id="datepickerFrom-{{ i }}" name="Seasons[{{ i }}][From]" value="{{ season.startSeason }}" class="form-control pull-right active datepickerClass">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="hidden" value="{{ details.typeRent }}" name="typeRent">
                                                {% if details.typeRent == 'hour' %}
                                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                                    <select class="form-control" id="hourpickerFrom-{{ i }}" name="Seasons[{{ i }}][To]">
                                                        <option></option>
                                                        <option {% if season.endSeason == '9:00'%}selected{% endif %}>9:00</option>
                                                        <option {% if season.endSeason == '10:00'%}selected{% endif %}>10:00</option>
                                                        <option {% if season.endSeason == '11:00'%}selected{% endif %}>11:00</option>
                                                        <option {% if season.endSeason == '12:00'%}selected{% endif %}>12:00</option>
                                                        <option {% if season.endSeason == '13:00'%}selected{% endif %}>13:00</option>
                                                        <option {% if season.endSeason == '14:00'%}selected{% endif %}>14:00</option>
                                                        <option {% if season.endSeason == '15:00'%}selected{% endif %}>15:00</option>
                                                        <option {% if season.endSeason == '16:00'%}selected{% endif %}>16:00</option>
                                                        <option {% if season.endSeason == '17:00'%}selected{% endif %}>17:00</option>
                                                        <option {% if season.endSeason == '18:00'%}selected{% endif %}>18:00</option>
                                                        <option {% if season.endSeason == '19:00'%}selected{% endif %}>19:00</option>
                                                        <option {% if season.endSeason == '20:00'%}selected{% endif %}>20:00</option>
                                                        <option {% if season.endSeason == '21:00'%}selected{% endif %}>21:00</option>
                                                        <option {% if season.endSeason == '22:00'%}selected{% endif %}>22:00</option>
                                                    </select>
                                                {% else %}
                                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    <input type="text" id="datepickerFrom-{{ i }}" name="Seasons[{{ i }}][To]" value="{{ season.endSeason }}" class="form-control pull-right active datepickerClass">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-eur"></i></div>
                                                <input type="text" id="Pride" name="Seasons[{{ i }}][Price]" value="{{ season.price }}" class="form-control pull-right active">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% set i = seasons|length %}{% set k = i + 4 %}
                                {% for j in i..k %}
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <input type="hidden" value="{{ details.typeRent }}" name="typeRent">
                                                {% if details.typeRent == 'hour' %}
                                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                                    <select class="form-control" id="hourpickerFrom-{{ j }}" name="Seasons[{{ j }}][From]">
                                                        <option></option><option>9:00</option><option>10:00</option>
                                                        <option>11:00</option><option>12:00</option><option>13:00</option>
                                                        <option>14:00</option><option>15:00</option><option>16:00</option>
                                                        <option>17:00</option><option>18:00</option><option>19:00</option>
                                                        <option>20:00</option><option>21:00</option><option>22:00</option>
                                                    </select>
                                                {% else %}
                                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    <input type="text" id="datepickerFrom-{{ j }}" name="Seasons[{{ j }}][From]" class="form-control pull-right active datepickerClass">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                {% if details.typeRent == 'hour' %}
                                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                                    <select class="form-control" id="hourpickerTo-{{ j }}" name="Seasons[{{ j }}][To]">
                                                        <option></option><option>9:00</option><option>10:00</option>
                                                        <option>11:00</option><option>12:00</option><option>13:00</option>
                                                        <option>14:00</option><option>15:00</option><option>16:00</option>
                                                        <option>17:00</option><option>18:00</option><option>19:00</option>
                                                        <option>20:00</option><option>21:00</option><option>22:00</option>
                                                    </select>
                                                {% else %}
                                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    <input type="text" id="datepickerTo-{{ j }}" name="Seasons[{{ j }}][To]" class="form-control pull-right active datepickerClass">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-eur"></i></div>
                                                <input type="text" id="Pride" name="Seasons[{{ j }}][Price]" class="form-control pull-right active">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div><!-- /.col -->
                    </div>

                    {# Mapa #}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Ubicación{% endtrans %}</h3>
                            <div class="box-tools pull-right">
                                <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                                <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div class="row">
                                <div class="col-lg-12" >
                                    <div class="text-center">
                                        <h3>{{ zoneName }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" >
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                        <input class="form-control" type="text" id="address" name="address" value="{{ details.address }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" onclick="javascript:codeAddress()" id="codeAdressButton" type="button">{% trans %}Buscar en el mapa{% endtrans %}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12" >
                                    {{ google_map(map) }}
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div>
                </section><!-- /.Left col -->

                <section class="col-lg-12 text-center">
                    <div class="row">
                        <button name="submit" value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Guardar{% endtrans %}</button>
                        <a href="{{ baseUrl }}"><button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button></a>
                    </div>
                </section>
            </form>
        </div><!-- /.row (main row) -->
    </section>
{% endblock %}