{% extends '::normal.html.twig' %}

{% block results %}

	<div class="col-md-8 column">

		<div class="mainContent">
			<h2>{{ details.name }}</h2>
			<hr/>

			<div class="backDiv">
				<a href="javascript:history.go(-1);"><i class="fa fa-reply"></i>&nbsp;&nbsp;{% trans %}Volver a los resultados{% endtrans %}</a>
			</div>
			<div class="priceDiv">
				{{ details.price }} &euro;/{% if details.typeRent == 'hour' %}{% trans %}hora{% endtrans %}{% else %}{% trans %}día{% endtrans %}{% endif %}
				<br/>
				<button type="submit" class="btn btn-primary" value="Send">{% trans %}Reservar{% endtrans %}</button>
			</div>
			<div class="clear margin"></div>

			{% if pictures is not empty %}
				<div class="carousel slide" id="carousel-details">
					<ol class="carousel-indicators">
						{% for onePicture in pictures %}
							{% if loop.index0 == 0 %}
								<li class="active" data-slide-to="0" data-target="#carousel-details"></li>
							{% else %}
								<li data-slide-to="{{ loop.index0 }}" data-target="#carousel-details"></li>
							{% endif %}
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for onePicture in pictures %}
							{% if loop.index0 == 0 %}
								<div class="item active imageCarouselDetails">
									<img alt="" src="/images/properties/{{ onePicture }}" />
								</div>
							{% else %}
								<div class="item imageCarouselDetails">
									<img alt="" src="/images/properties/{{ onePicture }}" />
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<a class="left carousel-control" href="#carousel-details" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="right carousel-control" href="#carousel-details" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			{% endif %}
			<div class="clear margin"></div>
			
			<p>
				<i class="fa fa-quote-left fa-3x pull-left fa-border"></i><p>{{ details.description }}</p>
			</p>
			<div class="clear"></div>
		</div>
	</div>

{% endblock %}