{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Ver propiedades{% endtrans %}
{% endblock %}

{% block page_content %}

	{% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="row ownerFilter">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-3">
                {%trans%}Ver{%endtrans%} <select name="filterByOwner" id="filterByOwner">
                    <option value="0">{% trans %}todos los propietarios{% endtrans %}</option>
                    {% for oneEmail in allOwners %}
                        <option value="{{ oneEmail.ownerID }}">{{ oneEmail.email }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                {% trans %}Alquiler por{% endtrans %} &nbsp;
                <input type="checkbox" name="typeRent" id="checkboxRentByHour" value="hour" checked>{% trans %}día{% endtrans %}
                <input type="checkbox" name="typeRent" id="checkboxRentByDay" value="day" checked>{% trans %}hora{% endtrans %}
            </div>
            <div class="col-md-3">
                {%trans%}Ver{%endtrans%} <select name="filterByZone" id="filterByZone">
                    <option value="0">{% trans %}todas las zonas{% endtrans %}</option>
                    {% for city in cityNames %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br/>
	{% endif %}

	{% if properties is empty %}
		<div class="alert alert-danger text-center">
			<h4>¡No tienes instalaciones registradas!</h4>
			<p><a class="alertAnchor" href="{{ path('new_activity') }}">Registar aquí alguna instalación</a></p>
		</div>
	{% else %}
		{% for oneProperty in properties %}
            <div class="box ownerEmail prop-{{ oneProperty.ownerID }} typeRent-{{ oneProperty.typeRent }} zone-{{ oneProperty.zone }}">
                <div class="box-header with-border">
                    <h3 class="box-title"><a href="{{ path('adminDetails', {'property':oneProperty.id}) }}">{{ oneProperty.name }}</a></h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <span class="modifyDiv">
                            {% if oneProperty.active %}
                                <a id="modal-link-deactive-{{ oneProperty.id }}" href="#modal-deactive-{{ oneProperty.id }}" role="button" class="btn" data-toggle="modal">
                                    <i style="color:green;" class="glyphicon glyphicon-eye-open" title="{% trans %}Activo{% endtrans %}"></i>
                                </a>
                            {% else %}
                                <a id="modal-link-active-{{ oneProperty.id }}" href="#modal-active-{{ oneProperty.id }}" role="button" class="btn" data-toggle="modal">
                                    <i style="color:grey;" class="glyphicon glyphicon-eye-close" title="{% trans %}Desactivo{% endtrans %}"></i>
                                </a>
                            {% endif %}
                            <a id="modal-link-details-{{ oneProperty.id }}" href="#modal-details-{{ oneProperty.id }}" role="button" class="btn" data-toggle="modal">
                                <i style="color:blue;" class="glyphicon glyphicon-edit" title="{% trans %}Modificar propiedad{% endtrans %}"></i>
                            </a>
                            <a id="modal-link-delete-{{ oneProperty.id }}" href="#modal-delete-{{ oneProperty.id }}" role="button" class="btn" data-toggle="modal">
                                <i style="color:red;" class="glyphicon glyphicon-trash" title="{% trans %}Eliminar propiedad{% endtrans %}"></i>
                            </a>
                        </span>

                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-6">
                            {% if pictures[oneProperty.id] is defined %}
                            <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
                                <ol class="carousel-indicators">
                                    {% for oneImage in pictures[oneProperty.id] %}
                                        <li class="{% if loop.index0 == 0 %}active{% endif %}" data-slide-to="{{ loop.index0 == 0 }}" data-target="#carousel-example-generic"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for oneImage in pictures[oneProperty.id] %}
                                        <div class="item {% if loop.index0 == 0 %}active{% endif %}">
                                            <img alt="First slide" src="/images/properties/{{ oneImage }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                            {% endif %}
                        </div><!-- /.col -->
                        <div class="col-md-6">
                            <span class="contentSpan">
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                    <p><i class="fa fa-user" title="{% trans %}Propietario{% endtrans %}"></i>&nbsp;{{ allOwners[oneProperty.ownerID].email }}</p>
                                    <p><i class="fa fa-map-pin" title="{% trans %}Ciudad{% endtrans %}"></i>&nbsp;{{ cityNames[oneProperty.zone].name }}</p>
                                {% endif %}
                                <p><i class="fa fa-info" title="{% trans %}Modalidad{% endtrans %}"></i>&nbsp;{% if oneProperty.typeRent == 'hour' %}{% trans %}Modalidad por hora{% endtrans %}{% else %}{% trans %}Modalidad por día{% endtrans %}{% endif %}</p>
                                <p><i class="fa fa-file-text" title="{% trans %}Descripción{% endtrans %}"></i>&nbsp;{{ oneProperty.description }}</p>
                            </span>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
                <div class="box-footer" style="display: block;">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <h5 class="description-header">{% trans %}Precio{% endtrans %}</h5>
                                <span class="description-text">&nbsp;{{ oneProperty.price }} &euro; / {% if oneProperty.typeRent == 'hour' %} {% trans %}hora{% endtrans %} {% else %} {% trans %}día{% endtrans %} {% endif %}</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <h5 class="description-header">{% trans %}Dirección{% endtrans %}</h5>
                                <span class="description-text">{{ oneProperty.address }} {% if (oneProperty.lat != null) and (oneProperty.lng != null) %}<i class="fa fa-map-marker" title="{% trans %}Dirección disponible en mapa{% endtrans %}"></i>{% else  %}<i class="fa fa-location-arrow" title=""></i>{% endif %}</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <h5 class="description-header">Comentarios</h5>
                                <span class="description-text"></span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                <h5 class="description-header">Valoración</h5>
                                <span class="description-text"></span>
                            </div><!-- /.description-block -->
                        </div>
                    </div><!-- /.row -->
                </div>
            </div>

            {# Modal activar #}
            <div class="modal fade" id="modal-active-{{ oneProperty.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">{% trans %}Activar{% endtrans %} {{ oneProperty.name }}</h4>
                            </div>
                            <div class="modal-body">
                            <form action="{{ path('active_property') }}" method="post">
                                <input type="hidden" name="productID" class="productID" value="{{ oneProperty.id }}">
                                {% trans %}¿Realmente desea activar{% endtrans %} {{ oneProperty.name }}?
                                <br/>
                                {% trans %}Si activa esta propiedad, saldrá en las búsquedas y será reservable por cualquier usuario.{% endtrans %}
                                <br/>
                                <div style="margin: 20px auto 0px;text-align: center;">
                                <button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Activar{% endtrans %}</button>
                                <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {# Modal desactivar #}
            <div class="modal fade" id="modal-deactive-{{ oneProperty.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">{% trans %}Desactivar{% endtrans %} {{ oneProperty.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path('deactive_property') }}" method="post">
                                <input type="hidden" name="productID" class="productID" value="{{ oneProperty.id }}">
                                {% trans %}¿Realmente desea desactivar{% endtrans %} {{ oneProperty.name }}?
                                <br/>
                                {% trans %}Si desactiva esta propiedad, no saldrá en las búsquedas y no podrá ser reservado.{% endtrans %}
                                <br/>
                                <div style="margin: 20px auto 0px;text-align: center;">
                                <button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Desactivar{% endtrans %}</button>
                                <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {# Modal modificar #}
            <div class="modal fade" id="modal-details-{{ oneProperty.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">{% trans %}Características{% endtrans %} {{ oneProperty.name }}</h4>
                            </div>
                            <div class="modal-body">
                            <form action="{{ path('modify_property') }}" method="post">
                                <input type="hidden" name="productID" class="productID" value="{{ oneProperty.id }}">
                                <table style="width: 100%;">
                                <tr><td>{% trans %}Nombre{% endtrans %}:</td><td><input type="text" name="name" value="{{ oneProperty.name }}" style="width: 100%;"></td></tr>
                                <tr><td>{% trans %}Precio{% endtrans %}:</td><td><input type="text" name="price" value="{{ oneProperty.price }}" style="width: 100%;"></td></tr>
                                <tr><td>{% trans %}Descripciín{% endtrans %}:</td><td><textarea rows="3" name="description" style="width: 100%;">{{ oneProperty.description }}</textarea></td></tr>
                                <tr><td>{% trans %}Dirección{% endtrans %}:</td><td><input type="text" name="address" value="{{ oneProperty.address }}" style="width: 100%;"></td></tr>
                                </table>
                                <div style="margin: 20px auto 0px;text-align: center;">
                                <button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-save"></i>&nbsp;{% trans %}Actualizar{% endtrans %}</button>
                                <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {# Modal eliminar #}
            <div class="modal fade" id="modal-delete-{{ oneProperty.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">{% trans %}Eliminar{% endtrans %} {{ oneProperty.name }}</h4>
                            </div>
                            <div class="modal-body">
                            <form action="{{ path('delete_property') }}" method="post">
                                <input type="hidden" name="productID" class="productID" value="{{ oneProperty.id }}">
                                {% trans %}¿Realmente desea eliminar{% endtrans %} {{ oneProperty.name }} {% trans %}de su lista?{% endtrans %}
                                <br/>
                                <div style="margin: 20px auto 0px;text-align: center;">
                                <button value="Send" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Eliminar{% endtrans %}</button>
                                <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar{% endtrans %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
		{% endfor %}

	{% endif %}

	<script>
        $("#filterByOwner").change(function(){

            var ownerID = $("#filterByOwner option:selected").val();

            if(ownerID == 0){
                $('.ownerEmail').show('slow');
            }
            else{
                $('.ownerEmail').hide('slow');
                $('.prop-'+ ownerID).show('slow');
            }
        });

        $("#filterByZone").change(function(){

            var zoneID = $("#filterByZone option:selected").val();

            if(zoneID == 0){
                $('.ownerEmail').show('slow');
            }
            else{
                $('.ownerEmail').hide('slow');
                $('.zone-'+ zoneID).show('slow');
            }
        });

        $("#checkboxRentByHour").click(function(){
            if($(this).is(':checked')){
                $('.typeRent-hour').show('slow');
            }
            else{
                $('.typeRent-hour').hide('slow');
            }
        });

        $("#checkboxRentByDay").click(function(){
            if($(this).is(':checked')){
                $('.typeRent-day').show('slow');
            }
            else{
                $('.typeRent-day').hide('slow');
            }
        });
	</script>

{% endblock %}