{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column"></div>

		<div class="col-md-4 column text-center borderBox">
			{% if error %}
			    <div>
			    	{{ error|trans }}
			    </div>

			    <br/>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			    <label for="username">{{ 'security.login.username'|trans }} o {{ 'security.login.email'|trans }}</label>
			    <br/>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			    
			    <br/>
			    
			    <label for="password">{{ 'security.login.password'|trans }}</label>
			    <br/>
			    <input type="password" id="password" name="_password" required="required" />
				
				<br/>
			    
			    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			    
			    <br/><br/>
			    
			    <button class="btn btn-primary" id="_submit" name="_submit" type="submit"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{{ 'security.login.submit'|trans }}</button>
			</form>
            <br/><br/>
            {% render(controller('HWIOAuthBundle:Connect:connect')) %}
		</div>
		
		<div class="col-md-4 column"></div>
	</div>
</div>
{% endblock fos_user_content %}
