{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column"></div>

		<div class="col-md-4 column text-center borderBox">
			{% if error %}
			    <div>
			    	{{ error|trans }}
			    </div>

			    <br/>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			    <label for="username">{{ 'security.login.username'|trans }} o {{ 'security.login.email'|trans }}</label>
			    <br/>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			    
			    <br/>
			    
			    <label for="password">{{ 'security.login.password'|trans }}</label>
			    <br/>
			    <input type="password" id="password" name="_password" required="required" />
				
				<br/>
			    
			    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			    
			    <br/><br/>
			    
			    <button class="btn btn-primary" id="_submit" name="_submit" type="submit"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;{{ 'security.login.submit'|trans }}</button>
			</form>

			{# Iniciar sesion  #}
			<br/>
			<span id="signinButton">
				<span
					class="g-signin"
					data-callback="signinCallback"
					data-clientid="235460544836-ilsujvd2b0ndogsg7fc0oo9ghs19t8gj.apps.googleusercontent.com"
					data-cookiepolicy="single_host_origin"
					data-requestvisibleactions="http://schemas.google.com/AddActivity"
					data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
				</span>
			</span>

			<br/>

			{# Fin Iniciar sesion  #}
			<script type="text/javascript">

				function signinCallback(authResult) {
					if (authResult['access_token']) {
						gapi.auth.setToken(authResult); // Almacena el token recuperado.
						toggleElement('signinButton'); // Oculta el inicio de sesión si se ha accedido correctamente.
						getUserInfo(); 
					} else if (authResult['error']) {
						console.log('There was an error: ' + authResult['error']);
						alert("Ha ocurrido un error, intentelo de nuevo más tarde");
					}
				}

				/*
			   * Inicia la solicitud del punto final userinfo para obtener la dirección de correo electrónico del
			   * usuario. Esta función se basa en gapi.auth.setToken que contiene un token
			   * de acceso de OAuth válido.
			   *
			   * Cuando se completa la solicitud, se activa getEmailCallback y recibe
			   * el resultado de la solicitud.
			   */
				function getUserInfo(){
					// Carga las bibliotecas oauth2 para habilitar los métodos userinfo.
					gapi.client.load('oauth2', 'v2', function() {
						var request = gapi.client.oauth2.userinfo.get();
						request.execute(getUserInfoCallback);
					});
				}

				function getUserInfoCallback(obj){
					if (obj) {
						document.getElementById('username').value = obj['email'];
						document.getElementById('password').value = obj['id'];

						$.ajax({
							url: Routing.generate("checkUser", {'_locale':obj['locale']}),
							type:"POST",
							data: ({id:obj['id'], 
								    email:obj['email'], 
								    name:obj['name'], 
								    given_name:obj['given_name'], 
								    family_name:obj['family_name'], 
								    link:obj['link'], 
								    picture:obj['picture'], 
								    gender:obj['gender'], 
								    locale:obj['locale'] 
								}),
							dataType: "json",
							async:false,
							success: function (data){
								if(data.response){
									$('#_submit').trigger('click');
									//alert("login correcto");
								}
								else{
									alert("Login fallido");
								}
							}
						});
					}
				}

				function toggleElement(id) {
					var el = document.getElementById(id);
					if (el.getAttribute('class') == 'hide') {
						el.setAttribute('class', 'show');
					} else {
						el.setAttribute('class', 'hide');
					}
				}
			</script>
		</div>
		
		<div class="col-md-4 column"></div>
	</div>
</div>
{% endblock fos_user_content %}
