{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Calendario{% endtrans %}
{% endblock %}

{% block page_content %}
    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <select onchange="changeCalendar(this)">
            {% for selection in selector %}
                <option value="{{ selection.id }}">{{ selection.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

	<div class="row clearfix">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" id="nameLodgingContainer">{{ selector.0.name }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="calendarContainer">
                    {{ calendar | raw }}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
	</div>

    <script>
        function changeCalendar(id){

            $.ajax({
                url: '{{ path('calculateCalendar') }}',
                data: {'activityID': id.value},
                type: "post",
                success: function($response) {
                    document.getElementById('nameLodgingContainer').innerHTML   = $response['nameLodging'];
                    document.getElementById('calendarContainer').innerHTML      = $response['calendar'];
                }
            });

        }
    </script>

{% endblock %}