{% extends '::admin.html.twig' %}

{% block workspace %}

	<h2>{% trans %}Calendario{% endtrans %}</h2>
	<hr/>

    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <select onchange="changeCalendar(this)">
            {% for selection in selector %}
                <option value="{{ selection.id }}">{{ selection.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

	<div class="row clearfix">
		<div class="col-md-12 column text-center" id="calendarContainer">
			<div class="row clearfix">
				<div class="col-md-4 column">
					{{ first | raw }}
				</div>
				<div class="col-md-4 column">
					{{ second | raw }}
				</div>
				<div class="col-md-4 column">
					{{ third | raw }}
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					{{ fourth | raw }}
				</div>
				<div class="col-md-4 column">
					{{ fifth | raw }}
				</div>
				<div class="col-md-4 column">
					{{ sixth | raw }}
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					{{ seventh | raw }}
				</div>
				<div class="col-md-4 column">
					{{ eighth | raw }}
				</div>
				<div class="col-md-4 column">
					{{ ninth | raw }}
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					{{ tenth | raw }}
				</div>
				<div class="col-md-4 column">
					{{ eleventh | raw }}
				</div>
				<div class="col-md-4 column">
					{{ twelfth | raw }}
				</div>
			</div>
		</div>
	</div>

    <script>
        function changeCalendar(id){

            $.ajax({
                url: '{{ path('calculateCalendar') }}',
                data: {'activityID': id.value},
                type: "post",
                success: function($response) {
                    document.getElementById('calendarContainer').innerHTML = $response['calendar'];
                }
            });

        }
    </script>

{% endblock %}