{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Historial de reservas{% endtrans %}
{% endblock %}

{% block page_content %}

	{% if bookings is empty %}
		<div class="alert alert-danger text-center">
			<h4>{% trans %}No tiene reservas{% endtrans %}</h4>
		</div>
	{% else %}
		{% for oneBooking in bookings %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ oneBooking.propertyName }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row clearfix">
                                <div class="bookingData col-md-8 column">
                                    <p><b>{% trans %}Nº reserva{% endtrans %}</b>: &nbsp;{{ oneBooking.bookingID }}</p>
                                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                                        <p><b>{% trans %}Propietario{% endtrans %}</b>: {{ oneBooking.ownerEmail }}</p>
                                    {% endif %}
                                    <p><b>{% trans %}Precio{% endtrans %}</b>: &nbsp;{{ oneBooking.price }} &euro;</p>
                                    {% if oneBooking.type == 'hour' %}
                                        <p><b>{% trans %}Día{% endtrans %}</b> &nbsp;{{ oneBooking.startDateDay }}/{{ oneBooking.startDateMonth }}/{{ oneBooking.startDateYear }} <b>{% trans %}a las{% endtrans %}</b> {{ oneBooking.startDateHour }}</p>
                                    {% else %}
                                        <p><b>{% trans %}Entrada{% endtrans %}</b>: &nbsp;{{ oneBooking.startDateDay }}/{{ oneBooking.startDateMonth }}/{{ oneBooking.startDateYear }} </p>
                                        <p><b>{% trans %}Salida{% endtrans %}</b>: &nbsp;{{ oneBooking.endDateDay }}/{{ oneBooking.endDateMonth }}/{{ oneBooking.endDateYear }}</p>
                                    {% endif %}
                                    <p><b>{% trans %}Cliente{% endtrans %}</b>: {{ oneBooking.clientName }} {{ oneBooking.clientSurname }}</p>
                                    <p><b>{% trans %}Email{% endtrans %}</b>: {{ oneBooking.clientEmail }}</p>
                                </div>

                                <div class="col-md-4 column">
                                    <div class="bookingCalendar">{{ oneBooking.calendar | raw }}</div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
		{% endfor %}
	{% endif %}
{% endblock %}