{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Gestionar reservas{% endtrans %}
{% endblock %}

{% block page_content %}

	{% if is_granted("ROLE_SUPER_ADMIN") %}

        <div class="row bookingsFilter">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-3">
                {% trans %}Nº reserva{% endtrans %}
                <input name="reservationID" id="filterByResInput" type="text" size="5" maxlength="6" style="width: 80px;text-align: center;">
                <button type="submit" id="filterByRes" class="btn" value="Send" style="height:28px;padding-top:3px;">OK</button>
            </div>
            <div class="col-md-3">
                <div class="col-md-2">
                    {%trans%}Ver{%endtrans%}
                </div>
                <div class="col-md-10">
                    <select name="filterByOwner" id="filterByOwner" >
                        <option value="0">{% trans %}todos los propietarios{% endtrans %}</option>
                        {% for oneEmail in allOwners %}
                            <option value="{{ oneEmail.ownerID }}">{{ oneEmail.email }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
        <br/>
	{% endif %}

    <div class="row">
        <div class="col-md-12">
            {% if bookings is empty %}

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="box box-danger text-center">
                            <div class="box-heaer">
                                <h4><i class="fa fa-exclamation-triangle" style="color:red;"></i>&nbsp;&nbsp;{% trans %}No tiene reservas en este momento{%  endtrans %}</h4>
                            </div>
                            <div class="box-body">
                                <p style="text-align: left;padding: 15px;margin: 5px;"><i class="fa fa-lightbulb-o" style="color: orange;font-size:50px;float:left;"></i>&nbsp;&nbsp;{% trans %}Comprueba que tus alojamientos están activos y tienes definidos precios y temporadas en tus alojamientos, sin precios no podrá aparecer en las búsquedas.{% endtrans %}</p>
                                <br/>
                                <p><span style="font-weight: bold;">TIP:</span>{% trans %}Prueba a modificar los precios de sus alojamientos para que la oferta sea más competitiva{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

            {% else %}
                {% for oneBooking in bookings %}
                    <div class="box ownerEmail prop-{{ oneBooking.ownerID }}" id="res-{{ oneBooking.bookingID }}">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ oneBooking.propertyName }}</h3>
                        </div>
                        <div class="box-body" style="display: block;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row clearfix">
                                        <div class="bookingData col-md-6 column">
                                            <p><b>{% trans %}Nº reserva{% endtrans %}</b>: &nbsp;{{ oneBooking.bookingID }}</p>

                                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                <p><b>{% trans %}Propietario{% endtrans %}</b>: {{ oneBooking.ownerEmail }}</p>
                                            {% endif %}

                                            <p><b>{% trans %}Precio{% endtrans %}</b>: &nbsp;{{ oneBooking.price }} &euro;</p>
                                            {% if oneBooking.type == 'hour' %}
                                                <p><b>{% trans %}Día{% endtrans %}</b> &nbsp;{{ oneBooking.startDateDay }}/{{ oneBooking.startDateMonth }}/{{ oneBooking.startDateYear }} <b>{% trans %}a las{% endtrans %}</b> {{ oneBooking.startDateHour }}</p>
                                            {% else %}
                                                <p><b>{% trans %}Entrada{% endtrans %}</b>: &nbsp;{{ oneBooking.startDateDay }}/{{ oneBooking.startDateMonth }}/{{ oneBooking.startDateYear }} </p>
                                                <p><b>{% trans %}Salida{% endtrans %}</b>: &nbsp;{{ oneBooking.endDateDay }}/{{ oneBooking.endDateMonth }}/{{ oneBooking.endDateYear }}</p>
                                            {% endif %}

                                            <p><b>{% trans %}Cliente{% endtrans %}</b>: {{ oneBooking.clientName }} {{ oneBooking.clientSurname }}</p>
                                            <p><b>{% trans %}Email{% endtrans %}</b>: {{ oneBooking.clientEmail }}</p>
                                        </div>

                                        <div class="col-md-6 column">
                                            <div class="bookingCalendar">{{ oneBooking.calendar | raw }}</div>
                                        </div>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                        <div class="box-footer" style="display: block;">
                            <div class="row">
                                <div class="col-md-6 column">
                                    {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") %}
                                        <form action={{ path('acceptBooking') }} method=POST>
                                            <input type="hidden" name="bookingID" value="{{ oneBooking.bookingID }}">
                                            <button value="Send" class="btn btn-success btnMargin pull-right" type="submit">
                                                <i class="glyphicon glyphicon-ok"></i>&nbsp;{% trans %}Aceptar reserva{% endtrans %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div><!-- /.col -->
                                <div class="col-md-6 column">
                                    <input type="hidden" name="bookingID" value="{{ oneBooking.bookingID }}">
                                    <button value="Send" class="btn btn-danger btnMargin pull-left cancelReserve" type="button" reservationID="{{ oneBooking.bookingID }}">
                                        <i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans %}Cancelar reserva{% endtrans %}
                                    </button>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {# Modal cancelar reserva #}
    <div class="modal fade" id="modalCancelReserve">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Cancelar reserva{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}¿Estas seguro de querer cancelar esta reserva?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" reserveID="" id="cancelThisReserve" class="btn btn-danger">Cancelar reserva</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalCancelOK">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans %}Reserva cancelada{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}La reserva ha sido cancelada{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>

        $("#filterByOwner").change(function(){

            var ownerID = $("#filterByOwner option:selected").val();

            if(ownerID == 0){
                $('.ownerEmail').show('slow');
            }
            else{
                $('.ownerEmail').hide('slow');
                $('.prop-'+ ownerID).show('slow');
            }
        });

        $("#filterByRes").click(function(){

            var resID = $("#filterByResInput").val();

            if(resID == 0){
                $('.ownerEmail').show('slow');
            }
            else{
                $('.ownerEmail').hide('slow');
                $('.res-'+ resID).show('slow');
            }
        });

        // Modal
        $('.cancelReserve').click(function(){
            $('#cancelThisReserve').attr('reserveID', $(this).attr("reservationID"));
            $('#modalCancelReserve').modal('show');
        });

        $("#cancelThisReserve").click(function(){

            var reserveID   = $(this).attr('reserveID');
            $("#modalCancelReserve").modal("hide");
            $.ajax({
                url: '{{ path('delete_reserve') }}',
                data: { 'reserveID': reserveID },
                type: "post",
                success: function(response) {
                    $('#modalCancelOK').modal('show');
                    setTimeout(function(){ $('#modalCancelOK').modal('hide'); }, 2000);
                    $("#res-" + response['idDelete']).hide('slow');
                }
            });
        });
    </script>
{% endblock %}