{% extends '::base.html.twig' %}

{% block section %}

	<div class="col-md-2 column"></div>
	<div class="col-md-8 column mainContent">
		<h2>{% trans %}Resumen{% endtrans %}</h2>
		<hr/>
		<form action={{ path('confirmBooking') }} method='POST'>
			<div class="col-md-5 column">
				{% trans %}Nombre{% endtrans %}: {{ app.user.username }}
				<br/>
				{% trans %}Apellidos{% endtrans %}: {{ app.user.surname }}
				<br/>
				{% trans %}Email{% endtrans %}: {{ app.user.email }}
				{% if app.user.telephone is not empty %}
					<br/>
					{% trans %}Telefono{% endtrans %}: {{ app.user.telephone }}
				{% endif %}
				{% if app.user.mobile is not empty %}
					<br/>
					{% trans %}Movil{% endtrans %}: {{ app.user.mobile }}
				{% endif %}
			</div>
			<div class="col-md-2 column text-center" style="font-size: 3em;">
				<i class="fa fa-angle-double-right"></i>
			</div>
			<div class="col-md-5 column">
				{% trans %}Propiedad{% endtrans %}: {{ propertyData.propertyName }}
				<input type="hidden" name="itemID" value="{{ propertyData.itemID }}">
				<br/>
				{% if app.session.get('searchType') == 'hour' %}
					{% trans %}Día{% endtrans %}: {{ app.session.get('searchDate') }}
					<br/>
					{% trans %}De{% endtrans %} {{ app.session.get('searchHour') }}:00 {% trans %}a{% endtrans %} {{ app.session.get('searchHour') + 1 }}:00
				{% else %}
					{% trans %}Desde{% endtrans %}: {{ app.session.get('searchStartDate') }}
					<br/>
					{% trans %}Hasta{% endtrans %}: {{ app.session.get('searchEndDate') }}
				{% endif %}
				<br/>
				<input type="hidden" name="price" value="{{ propertyData.totalPrice }}">
				{% trans %}Precio{% endtrans %}: {{ propertyData.totalPrice }} &euro;
			</div>
			<div style="clear:both;"></div>

			<div class="text-center">
				<button type="submit" class="btn btn-success" value="Send">{% trans %}Confirmar{% endtrans %}</button>
			</div>
		</form>
	</div>
	<div class="col-md-2 column"></div>

{% endblock %}