{% extends '::base.html.twig' %}

{% block results %}

    <section class="content">

        <section class="content-header">
            <h1><i class="fa fa-thumbs-up"></i>&nbsp;{% trans %}Resumen{% endtrans %}</h1>

        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title">Propiedad con muchas fotos</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">

                            <form action={{ path('confirmBooking') }} method='POST'>
                                <div class="col-md-5 column text-center">

                                    <h4>{% trans %}Datos del cliente{% endtrans %}</h4>

                                    <b>{% trans %}Nombre{% endtrans %}:</b> {{ app.user.username }}
                                    <br/>
                                    <b>{% trans %}Apellidos{% endtrans %}:</b> {{ app.user.surname }}
                                    <br/>
                                    <b>{% trans %}Email{% endtrans %}:</b> {{ app.user.email }}
                                    {% if app.user.telephone is defined and app.user.telephone is not empty %}
                                        <br/>
                                        <b>{% trans %}Telefono{% endtrans %}:</b> {{ app.user.telephone }}
                                    {% endif %}
                                    {% if app.user.mobile is defined and app.user.mobile is not empty %}
                                        <br/>
                                        <b>{% trans %}Movil{% endtrans %}:</b> {{ app.user.mobile }}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 column text-center" style="font-size: 3em;">
                                    <i class="fa fa-angle-double-right"></i>
                                </div>
                                <div class="col-md-5 column text-center">

                                    <h4>{% trans %}Datos de la propiedad{% endtrans %}</h4>

                                    <b>{% trans %}Propiedad{% endtrans %}:</b> {% if propertyData.propertyName is defined %}{{ propertyData.propertyName }}{% endif %}
                                    <input type="hidden" name="itemID" value="{% if propertyData.itemID is defined %}{{ propertyData.itemID }}{% endif %}">
                                    <br/>
                                    {% if app.session.get('searchType') == 'hour' %}
                                        <b>{% trans %}Día{% endtrans %}:</b> {{ app.session.get('searchDate') }}
                                        <br/>
                                        <b>{% trans %}De{% endtrans %}</b> {{ app.session.get('searchHour') }}:00 <b>{% trans %}a{% endtrans %}</b> {{ app.session.get('searchHour') + 1 }}:00
                                    {% else %}
                                        <b>{% trans %}Desde{% endtrans %}:</b> {{ app.session.get('searchStartDate') }}
                                        <br/>
                                        <b>{% trans %}Hasta{% endtrans %}:</b> {{ app.session.get('searchEndDate') }}
                                    {% endif %}
                                    <br/>
                                    <input type="hidden" name="price" value="{% if propertyData.totalPrice is defined %}{{ propertyData.totalPrice }}{% endif %}">
                                    <b>{% trans %}Precio{% endtrans %}:</b> {% if propertyData.totalPrice is defined %}{{ propertyData.totalPrice }}{% endif %} &euro;
                                </div>
                                <div style="clear:both;"></div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-success" name="_confirmReserve" value="Send">{% trans %}Confirmar{% endtrans %}</button>
                                </div>
                            </form>
                        </div><!-- /.box-body -->
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}