{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Ver usuarios{% endtrans %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            {%trans%}Email (autocompletado){%endtrans%}<br/>
            <input type="text" autocomplete="off" name="autocompleteEmail" id="autocompleteEmail">
            {% set stringAllEmails = '' %}
            {% for oneEmail in allEmails %}
                {% if loop.index == 1 %}
                    {% set stringAllEmails =  oneEmail.email %}
                {% else %}
                    {% set stringAllEmails =  stringAllEmails ~ ", " ~ oneEmail.email %}
                {% endif %}
            {% endfor %}
            <input type="hidden" id="allUsers" value="{{ stringAllEmails }}">
        </div>
        <div class="col-md-3">
            <div class="userFilter">
                {%trans%}Email{%endtrans%}<br/>
                <select name="filterByUser" id="filterByUser">
                    <option value="0">{% trans %}Todos{% endtrans %}</option>
                    {% for oneEmail in allEmails %}
                        <option value="{{ oneEmail.ownerID }}">{{ oneEmail.email }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="userFilter">
                {%trans%}Tipo de usuario{%endtrans%}<br/>
                <select name="filterByRole" id="filterByRole">
                    <option value="all">{% trans %}Todos{% endtrans %}</option>
                    <option value="Admin">{% trans %}Administradores{% endtrans %}</option>
                    <option value="Owner">{% trans %}Propietarios{% endtrans %}</option>
                    <option value="User">{% trans %}Usuarios{% endtrans %}</option>
                </select>
            </div>
	    </div>
        <div class="col-md-3">
            {%trans%}Activo{%endtrans%}<br/>
            <select name="filterByActive" id="filterByActive">
                <option value="all">{% trans %}Todos{% endtrans %}</option>
                <option value="1">{% trans %}Si{% endtrans %}</option>
                <option value="0">{% trans %}No{% endtrans %}</option>
            </select>
        </div>
	</div>
    <br/>
    <div class="row">
        <div class="col-md-12">

            {% for oneUser in allUsers %}

                {% set role = 'Desconcido' %}
                {% set class = '' %}

                {% if oneUser.role == "ROLE_SUPER_ADMIN" %}
                    {% set role = 'Administrador' %}
                    {% set class = 'box-danger' %}
                {% elseif oneUser.role == "ROLE_ADMIN" %}
                    {% set role = 'Propietario' %}
                    {% set class = 'box-warning' %}
                {% elseif oneUser.role == "ROLE_USER" %}
                    {% set role = 'Usuario' %}
                    {% set class = 'box-success' %}
                {% endif %}

                {% set activeUser = 0 %}
                {% if oneUser.active is defined %}
                    {% set activeUser = oneUser.active %}
                {% endif %}

                <div class="box {{ class }} userDiv {% if oneUser.userID is defined %}{{ oneUser.userID }}{% endif %} {% if oneUser.email is defined %}{{ oneUser.email | replace({'@':'', '.':''}) }}{% endif %} active-{{ activeUser }}">
                    <div class="box-header with-border">
                        <h3 class="box-title"><a href="view-users/{{ oneUser.userID }}">{{ oneUser.name }} {{ oneUser.surname }}</a> ( {% if oneUser.email is defined %}{{ oneUser.email }}{% endif %} )</h3>
                        <div class="box-tools pull-right">
                            {% if activeUser == 1 %}
                                <span class="label label-success">{% trans %}Activo{% endtrans %}</span>
                            {% else %}
                                <span class="label label-danger">{% trans %}Inactivo{% endtrans %}</span>
                            {% endif %}
                            <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                            <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-phone"></i> {% if oneUser.phone is defined %}{{ oneUser.phone }}{% endif %}</li>
                                    <li><i class="fa fa-mobile"></i> {% if oneUser.mobile is defined %}{{ oneUser.mobile }}{% endif %}</li>
                                </ul>
                            </div><!-- /.col -->
                            <div class="col-md-6">
                                {% if oneUser.properties is defined %}
                                    <ul class="list-unstyled">
                                        {% for property in oneUser.properties %}
                                            <li><a href="{{ path('adminDetails', {'property':property.id}) }}">{{ property.name }}</a> ( {{ property.numBookings }} )</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div><!-- /.col -->
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <p>{{ role }}</p>
                    </div><!-- box-footer -->
                </div>
            {% endfor %}
        </div>
    </div>

	<script>

        // Filtro autocompletado Email
        $(function() {
            stringUsers = document.getElementById("allUsers").value;
            arrayUsers = stringUsers.split(',');
            $("#autocompleteEmail").autocomplete({
                source: arrayUsers,
                select: function(event, ui){
                    setTimeout(
                            function(){
                                var email = document.getElementById('autocompleteEmail').value;
                                email = email.replace('@', '').replace('.', '').trim();
                                $('.userDiv').hide('slow');
                                $('.'+ email).show('slow');
                            }, 1000);

                }
            });
        });

        // Filtro selector Email
		var filterByUser = document.getElementById("filterByUser");
		filterByUser.onchange = function(){
			var userID = filterByUser.options[filterByUser.selectedIndex].value;

			if(userID == 0){
				$('.userDiv').show('slow');
			}
			else{
				$('.userDiv').hide('slow');
 				$('.'+ userID).show('slow');
 			}
  		}

        // Filtro Rol
		var filterByRole = document.getElementById("filterByRole");
		filterByRole.onchange = function(){
			var selectedRole = filterByRole.options[filterByRole.selectedIndex].value;

			switch(selectedRole) {
				case 'Admin':
					$('.userDiv').hide('slow');
 					$('.box-danger').show('slow');
					break;

				case 'Owner':
					$('.userDiv').hide('slow');
 					$('.box-warning').show('slow');
					break;

				case 'User':
					$('.userDiv').hide('slow');
 					$('.box-success').show('slow');
					break;

				default:
					$('.userDiv').show('slow');
			}
  		}

        // Filtro Activo
        var filterByActive = document.getElementById("filterByActive");
        filterByActive.onchange = function(){
            var active = filterByActive.options[filterByActive.selectedIndex].value;

            if(active == 1){
                $('.active-1').show('slow');
                $('.active-').hide('slow');
            }
            else if(active == 0){
                $('.active-1').hide('slow');
                $('.active-').show('slow');
            }
            else{
                $('.active-1').show('slow');
                $('.active-').show('slow');
            }
        }
	</script>

{% endblock %}