{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Gestionar tipos{% endtrans %}
{% endblock %}

{% block page_content %}

    <style>
        .deleteType:hover{
            font-size: 1.5em;
            cursor:pointer;
        }
        #addType{
            cursor:pointer;
        }
    </style>

    <div class="row">
    {# Left col #}
    <section class="col-lg-12 connectedSortable ui-sortable">
        {# Tabla tipos #}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Tipos{% endtrans %}</h3>
                <div class="box-tools pull-right">
                    <span class="label label-success" id="addType"><i class="fa fa-plus"></i>{% trans %} Nuevo{% endtrans %}</span>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table" id="typesTable">
                    <tbody><tr>
                        <th></th>
                        <th>{% trans %}Tipo{% endtrans %}</th>
                        <th>{% trans %}Modalidad{% endtrans %}</th>
                        <th class="text-center">{% trans %}Icono{% endtrans %}</th>
                        <th class="text-center">{% trans %}Modificar{% endtrans %}</th>
                        <th class="text-center">{% trans %}Eliminar{% endtrans %}</th>
                    </tr>
                    {% for type in types %}
                        <tr id="{{ type.id }}" class="pointerSelect">
                            <td></td>
                            <td>{{ type.name }}</td>
                            <td>{{ type.mode }}</td>
                            <td class="text-center">{% if type.icon is defined %}<i class="{{ type.icon }}"></i>{% endif %}</td>
                            <td class="text-center" style="color:green;"><i class="fa fa-pencil"></i></td>
                            <td class="text-center deleteType" style="color:red;" typeID="{{ type.id }}" typeName="{{ type.name }}"><i class="fa fa-minus-circle"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section>
    {# Left col #}
    </div>

    <div class="modalDelete">
        <div class="modal fade" id="modalDeleteType">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{% trans %}Eliminar tipo{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Se va a eliminar el tipo {% endtrans %} "<span id="typeName"></span>"
                        <p>{% trans %}NOTA: Si elimina este tipo, también se eliminarán todas las asociaciones con las características que tenga este tipo y los tipos y features que tengan los alojamientos{% endtrans %}</p>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                        <button class="btn btn-success" type="button" id="deleteType" typeID="" >{% trans %}Aceptar{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="modalAdd">
        <div class="modal fade" id="modalAddType">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{% trans %}Añadir tipo{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div>{% trans %}Rellena los siguientes campos para añadir un nuevo tipo{% endtrans %}</div>
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="text" name="nameType" id="nameType" placeholder="{% trans %}Nombre{% endtrans %}">
                            </div>
                            <div class="col-lg-4 text-right">
                                <select id="modalityType"name="modalityType">
                                    <option disabled selected>{% trans %}Modalidad{% endtrans %}</option>
                                    <option value="hour">{%  trans %}Hora{% endtrans %}</option>
                                    <option value="day">{%  trans %}Día{% endtrans %}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="iconType" id="iconType" placeholder="{% trans %}Icono{% endtrans %}">
                            </div>
                            <div class="col-lg-2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                        <button class="btn btn-success" type="button" id="addTypeButton" typeName="" typeModality="" typeIcon="">{% trans %}Aceptar{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <script>

        /* Añadir */

        $("#addType").click(function(){
            $("#modalAddType").modal("show");
        });
        $("#addTypeButton").click(function(){
            var typeName        = $('#nameType').val();
            var typeModality    = $('#modalityType').val();
            var typeIcon        = $("#iconType").val();
            $("#modalAddType").modal("hide");
            $.ajax({
                url: '{{ path('add_type') }}',
                data: { 'typeName':typeName, 'typeModality':typeModality, 'typeIcon':typeIcon },
                type: "post",
                success: function(response) {
                    var html = '<tr class="pointerSelect" id="' + response['id'] + '">' +
                            '<td></td>' +
                            '<td>' + response['name'] + '</td>' +
                            '<td>' + response['modality'] + '</td>' +
                            '<td class="text-center"><i class="' + response['icon'] + '"></i></td>' +
                            '<td style="color:green;" class="text-center"><i class="fa fa-pencil"></i></td>' +
                            '<td typename="' + response['name'] + '" typeid="' + response['id'] + '" style="color:red;" class="text-center deleteType"><i class="fa fa-minus-circle"></i></td>' +
                            '</tr>';

                    $("#typesTable tbody").append(html);
                }
            });
        });

        /* Eliminar */

        $(".deleteType").click(function(e){

            e.preventDefault();

            var typeId      = $(this).attr('typeID');
            var typeName    = $(this).attr('typeName');
            $("#modalDeleteType #typeName").html(typeName);
            $("#modalDeleteType #deleteType").attr('typeID', typeId);
            $("#modalDeleteType").modal("show");
        });
        $("#deleteType").click(function(){
            var typeId      = $(this).attr('typeID');
            $("#modalDeleteType").modal("hide");
            $.ajax({
                url: '{{ path('delete_type') }}',
                data: { 'typeID': typeId },
                type: "post",
                success: function(response) {
                    console.log(response);
                    $("#" + response['idDelete']).detach();
                }
            });
        });
    </script>

{% endblock %}