{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Asociar tipos y características{% endtrans %}
{% endblock %}

{% block page_content %}

    <style>
        #showAll, #addFeature, #addType{
            cursor:pointer;
        }
        .pointerSelect:hover{
            cursor: pointer;
            background-color: #666;
        }
        .descata{
            
        }
        .deleteFeature:hover{
            font-size: 1.5em;
            cursor:pointer;
        }
    </style>

    <div class="row">
        {# Left col #}
        <section class="col-lg-6 connectedSortable ui-sortable">
            {# Tabla tipos #}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans %}Tipos{% endtrans %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table" id="typesTable">
                        <tbody><tr>
                            <th></th>
                            <th>{% trans %}Tipo{% endtrans %}</th>
                            <th>{% trans %}Modalidad{% endtrans %}</th>
                        </tr>
                        {% for type in types %}
                            <tr id="{{ type.id }}" class="pointerSelect">
                                <td></td>
                                <td>{{ type.name }}</td>
                                <td>{{ type.mode }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </section>
        {# Left col #}

        {# right col #}
        <section class="col-lg-6 connectedSortable ui-sortable">
            {# Tabla tipos #}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans %}Características{% endtrans %}</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-success" id="addFeature"><i class="fa fa-plus"></i>{% trans %} Nuevo{% endtrans %}</span>
                        <span class="label label-warning" id="showAll"></i>{% trans %}Mostrar todos{% endtrans %}</span>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped" id="featuresTable">
                        <tbody><tr>
                            <th></th>
                            <th>{% trans %}Característica{% endtrans %}</th>
                            <th>{% trans %}Pertenece tipo{% endtrans %}</th>
                            <th class="text-center">{% trans %}Eliminar{% endtrans %}</th>
                        </tr>
                        {% for type in types %}
                            {% for feature in typesFeatures[type.id].features %}
                                <tr class="oneType type-{{ type.id }}" id="typeFeature-{{ type.id }}-{{ feature.id }}">
                                    <td></td>
                                    <td>{{ feature.name }}</td>
                                    <td>{{ type.name }}</td>
                                    <td class="text-center deleteFeature" style="color:red;" featureID="{{ feature.id }}" featureName="{{ feature.name }}" typeID="{{ type.id }}" typeName="{{ type.name }}"><i class="fa fa-minus-circle"></i></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </section>
        {# right col #}
    </div>

    <div class="modalDelete">
        <div class="modal fade" id="modalDeleteFeature">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{% trans %}Eliminar característica{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Se va a eliminar la característica{% endtrans %} "<span id="featureName"></span>" {% trans %}perteneciente al tipo{% endtrans %} "<span id="typeName"></span>"</p>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                        <button class="btn btn-success" type="button" id="deleteTypeFeature" typeID="" featureID="">{% trans %}Aceptar{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="modalAdd">
        <div class="modal fade" id="modalAddFeature">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">{% trans %}Añadir asociación tipo <i class="fa fa-arrows-h"></i> característica{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <select style="width:100%;" id="typeSelected">
                                    <option disabled selected>{% trans %}Selecciona tipo{% endtrans %}</option>
                                    {% for type in types %}
                                        <option value="{{  type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-5">
                                <select style="width:100%;" id="featureSelected">
                                    <option disabled selected>{% trans %}Selecciona característica{% endtrans %}</option>
                                    {% for feature in features %}
                                        <option value="{{  feature.id }}">{{ feature.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">{% trans %}Cancelar{% endtrans %}</button>
                        <button class="btn btn-success" type="button" id="addTypeFeature" typeID="" featureID="" typeName="" featureName="">{% trans %}Aceptar{% endtrans %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <script>
        $(".pointerSelect").click(function(){
            var id = $(this).attr('id');
            var showAll = $("#showAll");
            //showAll.remove
            $(".oneType").hide();
            $(".type-" + id).show('slow');
        });
        $("#showAll").click(function(){
            $(".oneType").show('slow');
        });
        $(".addFeature").click(function(){

        });
        $(".deleteFeature").click(function(e){

            e.preventDefault();

            var featureId   = $(this).attr('featureID');
            var typeId      = $(this).attr('typeID');
            var typeName    = $(this).attr('typeName');
            var featureName = $(this).attr('featureName');
            $("#modalDeleteFeature #featureName").html(featureName);
            $("#modalDeleteFeature #typeName").html(typeName);
            $("#deleteTypeFeature").attr('featureID', featureId);
            $("#deleteTypeFeature").attr('typeID', typeId);
            $("#modalDeleteFeature").modal("show");
        });
        $("#deleteTypeFeature").click(function(){
            var featureId   = $(this).attr('featureID');
            var typeId      = $(this).attr('typeID');
            $("#modalDeleteFeature").modal("hide");
            $.ajax({
                url: '{{ path('delete_features') }}',
                data: { 'featureID': featureId, 'typeID': typeId },
                type: "post",
                success: function(response) {
                    $("#" + response['idDelete']).detach();
                }
            });
        });
        $("#addFeature").click(function(){
            $("#modalAddFeature").modal("show");
        });
        $("#typeSelected").change(function(){
            $("#addTypeFeature").attr('typeID', $(this).val());
            $("#addTypeFeature").attr('typeName', $("#typeSelected option:selected").text());
        });
        $("#featureSelected").change(function(){
            $("#addTypeFeature").attr('featureID', $(this).val());
            $("#addTypeFeature").attr('featureName', $("#featureSelected option:selected").text());
        });
        $("#addTypeFeature").click(function(){
            var featureId   = $(this).attr('featureID');
            var featureName = $(this).attr('featureName');
            var typeId      = $(this).attr('typeID');
            var typeName    = $(this).attr('typeName');
            $("#modalAddFeature").modal("hide");
            $.ajax({
                url: '{{ path('add_features') }}',
                data: { 'featureID':featureId, 'typeID':typeId, 'featureName':featureName, 'typeName':typeName },
                type: "post",
                success: function(response) {
                    var html = "<tr id='typeFeature-"+response['typeID']+"-"+response['featureID']+"' class='oneType type-"+response['typeID']+"' style='display: table-row;'>" +
                            "<td></td>" +
                            "<td>"+response['featureName']+"</td>" +
                            "<td>"+response['typeName']+"</td>" +
                            "<td style='color:red;' class='text-center deleteFeature' typeName='"+response['typeName']+"' typeId='"+response['typeID']+"' featureName='"+response['featureName']+"' featureId='"+response['featureID']+"'>" +
                            "<i class='fa fa-minus-circle'></i></td>" +
                            "</tr>";
                    $("#featuresTable tbody").append(html);
                }
            });
        });
    </script>

{% endblock %}